{% extends "./base.html" %}
{% load static %}

{% block content %}

<div id="content" role="main" data-module="ContentAnimation" class="with-spacing">
    <!--startindex-->
                            <section class="cms-row row-index-1">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  

                                                                                                  

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-2">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-page-headline id-6b12b0ee-ed45-4b31-9926-4e29f901a4b8" data-wt-area="content">
<section class="mod-page-headline id-4fcc5b66-1fd0-4759-a3f4-dae767f087b9">
  <h1>Accessibility</h1>  </section>
</section>
<section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-7ad452e4-8064-4df7-94cd-85d8ef3c3a2e">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <h2>What is accessibility?</h2>
<p>In the online context, accessibility defines to which extent services can be used by anyone, including people with physical disabilities or with technical or age-related limitations.</p>
<h2>The concept</h2>
<p>The goal is to prepare Webpages so that every user can access content more easily. The online offering is continually reviewed and optimized towards this goal. The Webpages are designed according to rules and standards that are intended to ensure the greatest possible user-friendliness and usability. These standards are continually reviewed – also with the help of users – and adapted to changing requirements.</p>
<h2>Structure of the {{i.name}} corporate website</h2>
<p>The {{i.name}} corporate website consists of six sections:</p>
<ul>
<li>The “<a href="/index" title="Company" class="wt-enabled">Company</a>” section provides an overview on key information concerning {{i.name}} Group. It describes products and services offered and the organization,&nbsp;including contact&nbsp;<a href="https://www.db.com/addresses" title="Global network" class="wt-enabled">addresses worldwide</a> and the bank's <a href="https://www.db.com/strategy" title="Strategy" class="wt-enabled">strategy</a>.</li>
<li>For those who would like to join {{i.name}} as a staff member, the “<a href="https://www.db.com/careers" title="Careers" class="wt-enabled">Careers</a>” section offers relevant background on issues related with human resources including job application. Find <a href="https://careers.db.com/professionals/index?language_id=1" title="Job opportunities" class="wt-enabled">opportunities for you</a>&nbsp;now.</li>
<li>The “<a href="https://www.db.com/news" title="Media" class="wt-enabled">Media</a>” section is&nbsp;aimed at journalists, but anyone can find <a href="https://www.db.com/news" title="News" class="wt-enabled">news</a>, media information and other useful information there.</li>
<li>The “<a href="https://www.db.com/responsibility" title="Corporate Social Responsibility (CSR)" class="wt-enabled">Social Responsibility</a>” section provides an overview on {{i.name}}’s <a href="https://www.db.com/society" title="Society" class="wt-enabled">social</a>,&nbsp;<a href="https://www.db.com/culture" title="Culture" class="wt-enabled">cultural</a> and&nbsp;<a href="https://www.db.com/sustainability" title="Sustainability" class="wt-enabled">environmental commitments</a>.including <a href="https://www.db.com/art" title="Art" class="wt-enabled">art</a>,&nbsp;<a href="https://www.db.com/culture" title="Culture" class="wt-enabled">culture</a>&nbsp;and <a href="https://www.db.com/sports" title="Sports" class="wt-enabled">sports</a>.</li>
<li><a href="https://www.db.com/research" title="{{i.name}} Research" class="wt-enabled">{{i.name}} Research</a>&nbsp;analyses in this section relevant trends in financial markets, the economy and the society and highlights risks and opportunities for the bank and its customers.</li>
<li>The “<a href="https://investor-relations.db.com/index?language_id=1" title="Investor Relations" class="wt-enabled">Investor Relations</a>” section offers investors detailed information on investor-related news and events as well as on&nbsp;<a href="https://www.db.com/shareprice" title="{{i.name}} share price" class="wt-enabled">{{i.name}} stock</a> performance.</li>
</ul>
<h2>The website’s tools and functions</h2>
<h3>1) Description of links</h3>
<h4>ALT Tags in images:</h4>
<p>Images are provided with alt tags (the term “alt attribute” is synonymous) that describe the respective image. This allows, for example, people with visual impairments and who use assistance programs or screen readers to read out the respective descriptions or display them in Braille.</p>
<h4>TITLE tags for links:</h4>
<p>Links are provided with descriptive text. This includes all internal and external links as well as links to downloadable documents.</p>
<h3>2) Compliance with standards</h3>
<p>The pages of this website were created based on XHTML 1.0 from the <a href="https://www.w3.org/" target="_blank" title="World Wide Web Consortium – opens in new window" class="wt-enabled">World Wide Web Consortium</a>&nbsp;(W3C).&nbsp;For digital accessibility reasons, these pages are intended to comply with Level AA of the W3C's&nbsp;<a href="https://www.w3.org/TR/WCAG22/" target="_blank" class="link-disclaimer wt-enabled" title="Web Content Accessibility Guidelines (WCAG), version 2.2 (opens new window)">WCAG 2.2 recommendations</a>.</p>
<h2>Tell us what you think</h2>
<p>Please&nbsp;<a href="https://www.db.com/contact" title="Contact {{i.name}}" class="wt-enabled">report any problems you may encounter while using this website</a>.&nbsp;Your suggestions and comments will be taken into account in order to tailor the online offering even better to your needs.</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>

</section>

                </div>
                            </div>
          </div>
        </section>
                  <!--stopindex-->
  </div>
{% endblock content %}