




{% extends "./base.html" %}
{% load static %}

{% block content %}
<div id="content" role="main" data-module="ContentAnimation">
  <!--startindex-->
                          <section class="cms-row row-index-1">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                <section class="cms-container cnt-stage" data-wt-area="stage">
<div class="mod-stage type-450" data-module="Stage" data-text-toggle="Slide" data-text-button-prev="_prev" data-text-button-next="_next" data-text-toggle-description="slide to" data-text-button-prev-description="previous slide item" data-text-button-next-description="next slide item">
<ul class="slider-wrapper !bg-black">
<li class="itm-stage id-87f9c2f7-5a5f-4128-bfad-9d03412f3274 text-color-light !h-full" data-index="1" title="A future that" s="" yours="" to="" shape.="" what="" could="" you="" do?'="">
  <div class="gradient type-none "></div>


        <figure class="media type-video ">
    <video muted="" class="h-[60vh]" loop="" preload="metadata">
      <source src="{% static 'fileAsset' %}" type="video/mp4">
    </video>
  </figure>
  
<div class="content">
<div class="content-block custom-text-width-75">
  
          <h2>A future that's yours to shape. What could you do?</h2>
  
  

    <div class="button-wrapper">
                                          <a class="button type-primary" href="https://youtu.be/l6qOwGUIOH0" target="_blank" title="more">
          <span class="hidden-title">more</span>
          more
        </a>
      
              </div>
</div>
</div>
</li>

</ul>
</div>
</section>


                                                                                                

              </div>
                          </div>
        </div>
      </section>
              <section class="cms-row row-index-2">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                <section class="cms-container cnt-page-headline id-6b12b0ee-ed45-4b31-9926-4e29f901a4b8" data-wt-area="content">
</section>

              </div>
                          </div>
        </div>
      </section>
              <section class="cms-row row-index-3">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-50">
                <section class="cms-container cnt-content-slider" data-module="ContentSlider" data-text-toggle="Slide" data-wt-area="content" data-text-toggle-description="slide to" data-text-button-prev-description="previous slide item" data-text-button-next-description="next slide item">
<div class="slider-wrapper">
<ul class="slider-inner">
<li class="itm-content-slider">



<section class="mod-text-box box-design  type-image-background option-over-headline has-image text-color-light mobile-background-color-default" id="id-4dd1a5ec-f81b-4dc7-86be-d67f2f4f2e9b" data-module="TextBoxHeight" data-min-height="685">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
            <div class="media">
                 <div class="gradient type-blue from-left"></div>
                                         <figure class="mod-img-loader" data-module="ImageLoader" data-img-ratio="91.57142857142857" data-img-src-small="https://corporates.db.com/contentAsset/image/2c2dbc55-5e13-4bc6-bb0d-67ed1f5afebf/fileAsset/filter/Resize,Jpeg/resize_w/640/85b880cb-e3de-4b5c-b73e-8cdb52a91ba5.jpg" data-img-src-large="https://corporates.db.com/contentAsset/image/2c2dbc55-5e13-4bc6-bb0d-67ed1f5afebf/fileAsset/filter/Resize,Jpeg/resize_w/1280/85b880cb-e3de-4b5c-b73e-8cdb52a91ba5.jpg" data-img-alt="DB-Bucharest-6253-Bearbeitet.jpg" style="padding-bottom: 91.57142857142857%">
                <noscript>                    <img src="https://media.gettyimages.com/id/1426366220/photo/female-businesswoman-in-meeting-with-senior-couple.jpg?s=612x612&w=0&k=20&c=SrLt2ewSm1aWd01BwuKW4NvLW5XRl9B2bVZTiGfPQeA=" alt="DB-Bucharest-6253-Bearbeitet.jpg" />
                </noscript>                    <div class="mod-indicator" role="progressbar" aria-label="Loading..."></div>                </figure>
                      </div>
      


      <div class="content-wrapper">

      <h3>Inside Deutsche Bank</h3>

<div class="content">
          <h2>
              <a class="" href="https://careers.db.com/inside-deutsche-bank/" target="_self" title="Explore how we create an</br>environment that allows everyone</br> to unleash their full potential." data-filetype="none">
        <span class="hidden-title">Explore how we create an<br>environment that allows everyone<br> to unleash their full potential.</span>
        Explore how we create an<br>environment that allows everyone<br> to unleash their full potential.
      </a>
            </h2>
  
  
  
          <a class="button type-icon icon--bg"  target="_self" title="Explore how we create an</br>environment that allows everyone</br> to unleash their full potential.">
      <span class="hidden-title">Explore how we create an<br>environment that allows everyone<br> to unleash their full potential.</span>
      more
    </a>
  
                    
    </div>

      </div>

</div>
</section>
</li><li class="itm-content-slider">



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-86df6603-d904-40bb-b29c-f7a056fc332e">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
            <div class="media">
                       <a class="img" href="https://careers.db.com/explore-the-bank/working-environment/inclusive-culture/index?language_id=1" target="_self" title="Six people who work at Deutsche Bank">
          <figure class="image-wrapper">
              <img src="https://media.gettyimages.com/id/173932685/photo/bank.jpg?s=612x612&w=0&k=20&c=wk4PK5H6PowQ2u5Kmg9eLLeizlypOnSHnN2y-071KW4="  alt="Six people who work at Deutsche Bank" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="782" height="558">
          </figure>
      </a>
          </div>
      


      <div class="content-wrapper">


<div class="content">
          <h2>
              <a class="" href="https://careers.db.com/explore-the-bank/working-environment/inclusive-culture/index?language_id=1" target="_self" title="to inclusive culture" data-filetype="none">
        <span class="hidden-title">to inclusive culture</span>
        Discover how we are placing inclusion at the heart of our culture
      </a>
            </h2>
  
  
  
          <a class="button type-primary"  target="_self" title="to inclusive culture">
      <span class="hidden-title">to inclusive culture</span>
      more
    </a>
  
    </div>

      </div>

</div>
</section>
</li><li class="itm-content-slider">



<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-347e595a-6e2c-46d0-bca1-cbcd6ea588af">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
            <div class="media">
                       <a class="img"  target="_self" title="A woman's silhouette in front of the blurry lights of a city">
          <figure class="image-wrapper">
              <img src="https://media.gettyimages.com/id/1132134138/photo/financial-advisor.jpg?s=612x612&w=0&k=20&c=T08dTP97pFyg5zqzHXx2xmZbtJ49PlPFt1-DPqxoQl4=" alt="A woman's silhouette in front of the blurry lights of a city" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="1024" height="731">
          </figure>
      </a>
          </div>
      


      <div class="content-wrapper">

      <h3>Engineer the future</h3>

<div class="content">
          <h2>
              <a class="" href="https://careers.db.com/explore-the-bank/careers-in-technology/index?language_id=1" target="_self" title="to careers in technology" data-filetype="none">
        <span class="hidden-title">to careers in technology</span>
        Discover careers in technology
      </a>
            </h2>
  
  
  
          <a class="button type-primary"  target="_self" title="to careers in technology">
      <span class="hidden-title">to careers in technology</span>
      more
    </a>
  
    </div>

      </div>

</div>
</section>
</li><li class="itm-content-slider">



<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-a64e2751-116b-4c47-b97d-48dbc2e9aae4">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
            <div class="media">
                       <a class="img"  target="_self" title="A woman from behind with her laptop open; code can be seen on the screen">
          <figure class="image-wrapper">
              <img src="https://media.gettyimages.com/id/1371039119/photo/young-man-tracking-finance-on-mobile-app-while-drinking-coffee.jpg?s=612x612&w=0&k=20&c=gAFIeqTVV7SAV9qvK50QkwG08UUMrxLkXG6V29raO7M="  alt="A woman from behind with her laptop open; code can be seen on the screen" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="752" height="558">
          </figure>
      </a>
          </div>
      


      <div class="content-wrapper">

      <h3>Women in Technology</h3>

<div class="content">
          <h2>
              <a class="" href="/explore-the-bank/careers-in-technology/women-in-technology/" target="_self" title="More about Women in Technology" data-filetype="none">
        <span class="hidden-title">More about Women in Technology</span>
        Discover how we’re challenging the gender imbalance in technology
      </a>
            </h2>
  
  
  
          <a class="button type-primary" href="/explore-the-bank/careers-in-technology/women-in-technology/" target="_self" title="More about Women in Technology">
      <span class="hidden-title">More about Women in Technology</span>
      more
    </a>
  
    </div>

      </div>

</div>
</section>
</li>    </ul>
</div>
</section>

              </div>
                                                                  <div class="cms-column-50 animate-boxes zoom-in">
                <section class="cms-container cnt-generic id-07da7c23-bbc5-4cb8-9988-2c38693c0cd4" data-wt-area="content">



<section class="mod-text-box box-design  type-blue-grey mobile-background-color-default" id="id-8a49bad5-e7c1-4b43-bf9c-99df6a6e2230">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
          <h2>
              <a class=""  target="_self" title="Professionals" data-filetype="none">
        <span class="hidden-title">Professionals</span>
        Professionals
      </a>
            </h2>
  
          <p class="text">Discover the opportunity for you</p>
  
  
          <a class="button type-primary" href="https://careers.db.com/professionals/index?language_id=1#/professional/" target="_self" title="Professionals">
      <span class="hidden-title">Professionals</span>
    </a>
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-db-blue mobile-background-color-default" id="id-83d5020a-edcf-4afa-bc1f-6560277ac865">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
          <h2>
              <a class=""  title="Students and Graduates" data-filetype="none">
        <span class="hidden-title">Students and Graduates</span>
        Students and Graduates
      </a>
            </h2>
  
          <p class="text">Whether you're a university student or recent graduate, explore a broad range of entry routes tailored to you</p>
  
  
          <a class="button type-primary" href="https://careers.db.com/students-graduates/index?language_id=1#/graduate/" target="_self" title="Students and Graduates">
      <span class="hidden-title">Students and Graduates</span>
      
    </a>
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-ghost-grey mobile-background-color-default" id="id-3a4132af-d9b3-4aa9-80f2-ddf65478e264">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
          <h2>
              <a class="" href="https://careers.db.com/School-leavers-uk/index?language_id=1" target="_self" title="Apprentices" data-filetype="none">
        <span class="hidden-title">Apprentices</span>
        School leavers
      </a>
            </h2>
  
          <p class="text">Our school leaver opportunities offer an attractive alternative to university and a great platform to start a successful career.</p>
  
  
          <a class="button type-primary"  target="_self" title="Apprentices">
      <span class="hidden-title">Apprentices</span>
      
    </a>
  
    </div>

      </div>

</div>
</section>
</section>

              </div>
                          </div>
        </div>
      </section>
              <section class="cms-row row-index-4">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                <section class="cms-container cnt-container-headline id-1307cf0c-c506-4c32-ba6c-d266d8cfc720" data-wt-area="content">
<h2 class="container-headline id-c1e49c84-8fec-433e-906e-13d010fb6322">Life at DB</h2></section>
<section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">
<div class="mod-widget-news-stream  " data-limit="4" data-hosts="82252745-4104-4fd8-8f07-94e0d4bf97b3" data-search-placeholder="Search" data-search-aria-label="rwd.db.search.description" data-reset-text="Reset filter" data-show-more-button-text="More" data-show-less-button-text="less" data-all-button-text="All" data-layout="contribution" data-open-ext-link-new-tab="false" data-current-host="82252745-4104-4fd8-8f07-94e0d4bf97b3" data-wt-area="news-stream-widget" data-module="NewsStream">
<div class="news-stream-wrapper items-type-default">
    <div class="news-stream-entries-wrapper">
        <div class="mod-indicator" role="progressbar" aria-label="Loading...">
        </div>
     </div>
    <div class="news-stream-no-results hidden">
      No results found for your selection, please make a new selection.        </div>
    <div class="news-stream-no-further-results hidden">
      No further results found for your selection.        </div>
              <div class="news-stream-buttons">
          <button class="button type-primary"></button>
      </div>
        </div>
<script type="text/template" data-template-name="news-stream-item-layout">
        ~entryTags~
    <div class="news-stream-entry-content">
  <div class="news-stream-entry-image type-small">
                <a href="~entryLink~" target="~entryLinkTarget~" title="~entryTitleHeadline~">
            <figure class="mod-img-loader" data-img-src-large="~entryImage~" data-img-src-small="~entryImage~" data-img-alt="~entryImageAlt~" data-img-option="src-small">
                <noscript>
                    <img src="https://media.gettyimages.com/id/1371039119/photo/young-man-tracking-finance-on-mobile-app-while-drinking-coffee.jpg?s=612x612&w=0&k=20&c=gAFIeqTVV7SAV9qvK50QkwG08UUMrxLkXG6V29raO7M=" alt="~entryImageAlt~"/>
                </noscript>
                <div class="mod-indicator" role="progressbar" aria-label='Loading...'></div>
            </figure>
        </a>
        </div>
  <div class="news-stream-entry-info">
                <div class="news-meta">
                  ~entryType~
              <div class="news-meta-date">
      ~entryDate~
    </div>
            </div>
            <div class="news-stream-entry-description">
          <span href="~entryLink~" target="~entryLinkTarget~" title="~entryTitleHeadline~">
              <h4>~entryHeadline~</h4>
          </span>
      </div>
                    <span href="~entryLink~" target="~entryLinkTarget~" title="~entryTitleTeaserText~" class="entry-description-teaser">
              <p>~entryTeaser~</p>
          </span>
              </div>
</script>
</div>

<script type="application/json" data-id="news-stream-filter-list">
        {
"filters": [
{
  "queryType": "types", 
  "label": "Filter by news type", 
  "options": [
    
    {
      "name": "News",
      "variable": "news12"
    }
  ]
},
{
  "queryType": "tags",
  "label": "Filter by news tags",
  "options": [
    {
      "name": "Ausbildung",
      "variable": "ausbildung1"
    },
    {
      "name": "Corporate Bank",
      "variable": "corporateBank4"
    },
    {
      "name": "CSR",
      "variable": "csr1"
    },
    {
      "name": "Diversity & Inclusion",
      "variable": "diversityInclusion1"
    },
    {
      "name": "Early Careers",
      "variable": "earlyCareers1"
    },
    {
      "name": "Infrastructure",
      "variable": "infrastructure1"
    },
    {
      "name": "Investment Bank",
      "variable": "investmentBank1"
    },
    {
      "name": "Private Bank",
      "variable": "privateBank1"
    },
    {
      "name": "Professional",
      "variable": "professional1"
    },
    {
      "name": "Technology",
      "variable": "technology3"
    }
  ]
},
{
  "queryType": "years",
  "label": "Filter by year",
  "oldestYear": "2021"
},
{
  "queryType": "hidden",
  "label": "",
  "options": [
    
  ]
}
],
"enableSearch": true,
"enableFilters": true
}
</script>

</section>

              </div>
                          </div>
        </div>
      </section>
              <section class="cms-row row-index-5">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                
              </div>
                          </div>
        </div>
      </section>
                <!--stopindex-->
</div>
{% endblock content %}