{% extends "./base.html" %}
{% load static %}

{% block content %}

    <div id="content" role="main" data-module="ContentAnimation">
      <!--startindex-->
                              <section class="cms-row row-index-1">
            <div class="cms-content-wrapper">
              <div class="cms-content">
                                                                      <div class="cms-column-100">
                    <section class="cms-container cnt-stage" data-wt-area="stage">
  <div class="mod-stage type-450" data-module="Stage" data-text-toggle="Slide" data-text-button-prev="_prev" data-text-button-next="_next" data-text-toggle-description="slide to" data-text-button-prev-description="previous slide item" data-text-button-next-description="next slide item">
    <ul class="slider-wrapper">
<li class="itm-stage id-0386e353-8606-4ea2-b943-110211ab0ba0 text-color-light" data-index="1" title="Solutions">
      <div class="gradient type-none"></div>
  
          
          <img src="https://media.istockphoto.com/id/482386504/photo/hall-in-the-business-center.jpg?s=612x612&w=0&k=20&c=eQH9ixAGBVyYqA_6L2Z7ss7v4duSBFhFRRdIBSdEq0w=" alt="">
  
  
  <div class="content">
    <div class="content-block custom-text-width-75">
              <h3>Driven by insight and expertise</h3>
      
              <h2>Solutions</h2>
      
      

        <div class="button-wrapper">
          
                  </div>
    </div>
  </div>
</li>

    </ul>
  </div>
</section>


                                                                                                        
<section class="cms-container cnt-breadcrumb" data-wt-area="stage-breadcrumb">
    <nav class="navigation-breadcrumb">
        <span class="breadcrumb-label">
                            You are here:
                    </span>
        <ul>
            <li>
              <a title="Home" href="/">
                Home
              </a>
          </li>
                                            
                <li>
                                                                        Solutions
                                                            </li>
                                </ul>
    </nav>
</section>

                  </div>
                              </div>
            </div>
          </section>
                  <section class="cms-row row-index-2">
            <div class="cms-content-wrapper">
              <div class="cms-content">
                                                                      <div class="cms-column-100">
                    
                  </div>
                              </div>
            </div>
          </section>
                  <section class="cms-row row-index-3">
            <div class="cms-content-wrapper">
              <div class="cms-content">
                                                                      <div class="cms-column-100">
                    <section class="cms-container cnt-page-headline id-6b12b0ee-ed45-4b31-9926-4e29f901a4b8" data-wt-area="content">
<section class="mod-page-headline id-e12e8076-9518-4365-9738-834eb35db8ea">
      <p>Whatever the external environmental business climate, that does not change the continued need for payments processing, liquidity, trade and support with market infrastructures. As new markets and technologies rearrange the patterns of supply and demand, our global footprint and on-the-ground expertise clear cash overnight, move payments across borders, secure trade and supply chains, and provide trustee, agency and securities services to the capital markets. Corporate Bank brings together expertise developed over 150 years and the innovatory outlook required by companies as they navigate the 2020s</p></section>
</section>

                  </div>
                              </div>
            </div>
          </section>
                  <section class="cms-row row-index-4">
            <div class="cms-content-wrapper">
              <div class="cms-content">
                                                                      <div class="cms-column-100">
                    <section class="cms-container cnt-container-headline id-1307cf0c-c506-4c32-ba6c-d266d8cfc720" data-wt-area="content">
<h2 class="container-headline id-be34fc81-a655-4600-916e-36188577ec02">Explore our Corporate Bank solutions</h2></section>

                  </div>
                              </div>
            </div>
          </section>
                  <section class="cms-row row-index-5">
            <div class="cms-content-wrapper">
              <div class="cms-content">
                                                                      <div class="cms-column-100">
                    <section class="cms-container cnt-generic type-3 id-cc3a21e7-9888-49f5-ba71-923fef8a6bee" data-wt-area="content">



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-ef421c8d-6190-4cd7-b68f-785f33f72486">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                           <a class="img"  target="_self" title="Cash management">
              <figure class="image-wrapper">
                  <img src="https://media.istockphoto.com/id/104229066/photo/big-business.jpg?s=612x612&w=0&k=20&c=-Mpx9kns1OGgR1TkX2JUMBXGBhtpr8NQJtRUzwRGWxA="  alt="Cash management" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="490" height="350">
              </figure>
          </a>
              </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class=""  target="_self" title="Cash management" data-filetype="none">
            <span class="hidden-title">Cash management</span>
            Cash management
          </a>
                </h2>
      
      
      
      
        </div>

          </div>
    
  </div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-80ce42c5-37dd-42c7-a52c-ab8dbca0f260">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                           <a class="img"  target="_self" title="CB-foreign-exchange-490x350.jpg">
              <figure class="image-wrapper">
                  <img src="https://media.istockphoto.com/id/543571642/photo/hall-in-the-business-center.jpg?s=612x612&w=0&k=20&c=h64av4u83OX3-9ubK0OqaXmt-ctdoqmU1gogBjipy5Y=" srcset="" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="490" height="350">
              </figure>
          </a>
              </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class="" target="_self" title="Foreign exchange" data-filetype="none">
            <span class="hidden-title">Foreign exchange</span>
            Foreign exchange
          </a>
                </h2>
      
      
      
      
        </div>

          </div>
    
  </div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-8c2fbf27-fc6b-4bbe-86c8-83883691e27e">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                           <a class="img"  target="_self" title="Securities services">
              <figure class="image-wrapper">
                  <img src="https://media.istockphoto.com/id/1239140419/photo/magnifying-glass-stethoscope-and-pen-on-charts-graphs-paper-financial-development-banking.jpg?s=612x612&w=0&k=20&c=gj7eaNAujh16UeaBDSbLyMTgv6QjYVCyccSDyO0BYiw="  alt="Securities services" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="490" height="350">
              </figure>
          </a>
              </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class="" target="_self" title="Securities services" data-filetype="none">
            <span class="hidden-title">Securities services</span>
            Securities services
          </a>
                </h2>
      
      
      
      
        </div>

          </div>
    
  </div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-84c8c3b7-d9ff-4a34-935b-0321f3beb5f2">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                           <a class="img"  target="_self" title="Sustainable finance">
              <figure class="image-wrapper">
                  <img src="https://media.istockphoto.com/id/1486419213/photo/senior-woman-holding-turkish-lira-bill-cash-at-atm-machine-withdraw-money.jpg?s=612x612&w=0&k=20&c=BL3Hlq_xXFSs-xYrCMMp5_ftg3fu6Nnz8nhmDdqX4KY="   alt="Sustainable finance" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="490" height="350">
              </figure>
          </a>
              </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class=""  target="_self" title="Sustainable finance" data-filetype="none">
            <span class="hidden-title">Sustainable finance</span>
            Sustainable finance
          </a>
                </h2>
      
      
      
      
        </div>

          </div>
    
  </div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-c0a12937-9db2-428d-b401-68e21f4520d0">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                           <a class="img"  target="_self" title="Trade Finance">
              <figure class="image-wrapper">
                  <img src="https://media.istockphoto.com/id/472063563/photo/inner-corner-of-office-building.jpg?s=612x612&w=0&k=20&c=HXsC0TYQTGCR8zIfYNIXxowWwsCGBbjOGmR-zAOC-cI="  alt="Trade Finance" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="490" height="350">
              </figure>
          </a>
              </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class=""  target="_self" title="Trade finance" data-filetype="none">
            <span class="hidden-title">Trade finance</span>
            Trade finance
          </a>
                </h2>
      
      
      
      
        </div>

          </div>
    
  </div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-ea93d50b-3d42-4f22-8289-600051494864">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                           <a class="img"  target="_self" title="Trust and agency services">
              <figure class="image-wrapper">
                  <img src="https://media.istockphoto.com/id/870541990/photo/unknown-man-walks-into-the-beautiful-glass-office-of-deutsche-bank.jpg?s=612x612&w=0&k=20&c=Cpzv4S8KY6yspHvhCNWSCZmNjivpacm3bCvYnkY7Zp8=" alt="Trust and agency services" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="490" height="350">
              </figure>
          </a>
              </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class=""  target="_self" title="Trust and agency services" data-filetype="none">
            <span class="hidden-title">Trust and agency services</span>
            Trust and agency services
          </a>
                </h2>
      
      
      
      
        </div>

          </div>
    
  </div>
</section>
</section>

                  </div>
                              </div>
            </div>
          </section>
                  <section class="cms-row row-index-6">
            <div class="cms-content-wrapper">
              <div class="cms-content">
                                                                      <div class="cms-column-100">
                    <section class="cms-container cnt-container-headline id-1307cf0c-c506-4c32-ba6c-d266d8cfc720" data-wt-area="content">
<h2 class="container-headline id-b94afa6b-96d8-4a2e-9d6b-bbc38d4a8bf9">Explore our Investment Bank solutions</h2></section>

                  </div>
                              </div>
            </div>
          </section>
                  <section class="cms-row row-index-7 no-container-margin">
            <div class="cms-content-wrapper">
              <div class="cms-content">
                                                                      <div class="cms-column-100">
                    <section class="cms-container cnt-generic type-3 id-cc3a21e7-9888-49f5-ba71-923fef8a6bee" data-wt-area="content">



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-7e8f2c2c-6270-460a-a43a-c1765fffdae7">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                           <a class="img"  target="_self" title="Debt capital markets">
              <figure class="image-wrapper">
                  <img src="https://media.istockphoto.com/id/1490647538/photo/passenger-trains-crossing-the-cannon-street-railway-bridge-crossing-the-thames-river-with-the.jpg?s=612x612&w=0&k=20&c=sr_VWX5z2RH-tY1-ID-jIsE4PBli-30BYdIB0ZWp3z0="  alt="Debt capital markets" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="490" height="350">
              </figure>
          </a>
              </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class="" target="_self" title="Debt capital markets" data-filetype="none">
            <span class="hidden-title">Debt capital markets</span>
            Debt capital markets
          </a>
                </h2>
      
      
      
      
        </div>

          </div>
    
  </div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-d221b624-00d1-495a-a7be-73fc82d0464d">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                           <a class="img"  target="_self" title="Equity capital markets">
              <figure class="image-wrapper">
                  <img src="https://media.istockphoto.com/id/1064260358/photo/bright-future-finance-buildings-seen-from-below.jpg?s=612x612&w=0&k=20&c=JTYEYE5SCy0LV-sCZ5imVmBvsBjMd8w9v0nzT1955AY="  alt="Equity capital markets" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="490" height="350">
              </figure>
          </a>
              </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class="" target="_self" title="Equity capital markets" data-filetype="none">
            <span class="hidden-title">Equity capital markets</span>
            Equity capital markets
          </a>
                </h2>
      
      
      
      
        </div>

          </div>
    
  </div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-9db7d6f8-f6a7-469a-b461-49f7a793cfb4">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                           <a class="img"  target="_self" title="CB-foreign-exchange-490x350.jpg">
              <figure class="image-wrapper">
                  <img src="https://media.istockphoto.com/id/1401923268/photo/top-view-on-a-big-data-abstract-financial-spreadsheet-table-with-diminishing-perspective-wide.jpg?s=612x612&w=0&k=20&c=RsiFe1fcZkt4Laf7eAAF-9V7CvWXYdD37ZHeUFCT-is="  alt="CB-foreign-exchange-490x350.jpg'%}" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="490" height="350">
              </figure>
          </a>
              </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class=""  target="_self" title="Foreign exchange" data-filetype="none">
            <span class="hidden-title">Foreign exchange</span>
            Foreign exchange
          </a>
                </h2>
      
      
      
      
        </div>

          </div>
    
  </div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-74493985-5ea6-407d-97c8-95699a9e305f">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                           <a class="img" target="_self" title="Mergers and acquisition">
              <figure class="image-wrapper">
                  <img src="https://media.istockphoto.com/id/1408110626/photo/bank-employees-using-money-counting-machine-while-sorting-and-counting-paper-banknotes-inside.jpg?s=612x612&w=0&k=20&c=x_aJnpgGFEHe1D44nV7JUtALBqBsavqszSkooRwGKhw="  alt="Mergers and acquisition" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="490" height="350">
              </figure>
          </a>
              </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class=""  target="_self" title="Mergers and acquisitions" data-filetype="none">
            <span class="hidden-title">Mergers and acquisitions</span>
            Mergers and acquisitions
          </a>
                </h2>
      
      
      
      
        </div>

          </div>
    
  </div>
</section>
</section>

                  </div>
                              </div>
            </div>
          </section>
                  <section class="cms-row row-index-8">
            <div class="cms-content-wrapper">
              <div class="cms-content">
                                                                      <div class="cms-column-100">
                    <section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-image-background has-image text-color-blue mobile-background-color-default" id="id-862e47fe-ebb5-4def-bbb0-e495c87c0f0a" data-module="TextBoxHeight" data-min-height="300">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                     <div class="gradient type-white from-left"></div>
                                             <figure class="mod-img-loader" data-module="ImageLoader" data-img-ratio="24.671052631578945"  >
                    <noscript>                    <img src="https://media.istockphoto.com/id/1089004698/photo/abstract-technology-concept.jpg?s=612x612&w=0&k=20&c=mVD3CZ1g07PGPni8dbxTPSmKlkJwRpWAb_6d19cEbGo=" alt="Asset-management-solutions-teaser-1216x300.jpg" />
                    </noscript>                    <div class="mod-indicator" role="progressbar" aria-label="Loading..."></div>                </figure>
                          </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class="" href="/solutions/asset-management-solutions/index" target="_self" title="Read more" data-filetype="none">
            <span class="hidden-title">Read more</span>
            Explore our Asset Management solutions
          </a>
                </h2>
      
      
      
              <a class="button type-icon icon--bg" href="/solutions/asset-management-solutions/index" target="_self" title="Read more">
          <span class="hidden-title">Read more</span>
          Read more
        </a>
      
                        
        </div>

          </div>
    
  </div>
</section>




<section class="mod-text-box box-design  type-image-background has-image text-color-blue mobile-background-color-default" id="id-97d71416-bd4c-40a5-bbc6-a8a04dffb49f" data-module="TextBoxHeight" data-min-height="300">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                     <div class="gradient type-white from-left"></div>
                                             <figure class="mod-img-loader" data-module="ImageLoader" data-img-ratio="24.671052631578945"  data-img-alt="Client-access-solutions-teaser-1216x300.jpg'%}" style="padding-bottom: 24.671052631578945%">
                    <noscript>                    <img src="https://media.istockphoto.com/id/901001432/photo/modern-business-buildings.jpg?s=612x612&w=0&k=20&c=2osA-kZN1U6AJBSrKpltXtAyY21YHTZzFO2luPN3-iI=" alt="Client-access-solutions-teaser-1216x300.jpg" />
                    </noscript>                    <div class="mod-indicator" role="progressbar" aria-label="Loading..."></div>                </figure>
                          </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class="" href="/solutions/Client-access-solutions/index" target="_self" title="Read more" data-filetype="none">
            <span class="hidden-title">Read more</span>
            Explore our client access solutions
          </a>
                </h2>
      
      
      
              <a class="button type-icon icon--bg" href="/solutions/Client-access-solutions/index" target="_self" title="Read more">
          <span class="hidden-title">Read more</span>
          Read more
        </a>
      
                        
        </div>

          </div>
    
  </div>
</section>




<section class="mod-text-box box-design  type-image-background has-image text-color-blue mobile-background-color-default" id="id-202adc40-971d-466c-ba5a-70a5f7c237bb" data-module="TextBoxHeight" data-min-height="300">

  
  <div class="wrapper type-image custom-text-width-100 custom-text-position-left">
                <div class="media">
                     <div class="gradient type-white from-left"></div>
                                             <figure class="mod-img-loader" data-module="ImageLoader" data-img-ratio="24.671052631578945" data-img-src-small="https://media.istockphoto.com/id/901001432/photo/modern-business-buildings.jpg?s=612x612&w=0&k=20&c=2osA-kZN1U6AJBSrKpltXtAyY21YHTZzFO2luPN3-iI="  data-img-alt="Why-choose-cb-teaser-1216x300.jpg'%}" style="padding-bottom: 24.671052631578945%">
                    <noscript>                    <img src="https://media.istockphoto.com/id/506477694/photo/opened-huge-empty-bank-vault-front-view.jpg?s=612x612&w=0&k=20&c=oJiCTmz8d-VfubUbVxZ5m0vVLq7sEyEBhGT2N2EvQcg=" alt="Why-choose-cb-teaser-1216x300.jpg" />
                    </noscript>                    <div class="mod-indicator" role="progressbar" aria-label="Loading..."></div>                </figure>
                          </div>
          
    
    
          <div class="content-wrapper">
    
    
    <div class="content">
              <h2>
                  <a class=""  target="_self" title="More" data-filetype="none">
            <span class="hidden-title">More</span>
            Why choose Corporate Bank?
          </a>
                </h2>
      
              <p class="text">Review our work with clients and read our client stories<br \=""><br \=""></p>
      
      
              <a class="button type-icon icon--bg" target="_self" title="More">
         
          More
        </a>
      
                        
        </div>

          </div>
    
  </div>
</section>

</section>

                  </div>
                              </div>
            </div>
          </section>
                    <!--stopindex-->
    </div>

{% endblock content %}
        