{% extends "./base.html" %}
{% load static %}

{% block content %}
<div id="content" role="main" data-module="ContentAnimation">
    <!--startindex-->
                            <section class="cms-row row-index-1">
          <div class="cms-content-wrapper stage-no-margin-bottom">
            <div class="cms-content">
                                                                    <div class="cms-column-66 row-mobile-full">
                  <section class="cms-container cnt-stage stage-margin-top" data-wt-area="stage">
<div class="mod-stage" data-module="Stage" data-column-sized="true" data-text-toggle="Slide" data-text-button-prev="_prev" data-text-button-next="_next" data-text-toggle-description="slide to" data-text-button-prev-description="previous slide item" data-text-button-next-description="next slide item">
  <ul class="slider-wrapper" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transform: translateX(-200%);">
<li class="itm-stage id-a1a3927b-3dd2-4d59-9090-44b9e1c97028 text-color-light" data-index="1" title="Congratulations to Spotify and Endesa" style="cursor: pointer;">
    <div class="gradient type-none"></div>

    <figure class="media type-image load-finished" data-module="StageImage" data-media-src="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4=" data-img-alt="Adam Smith Awards 2024" data-media-src-alternative="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4=">
    <noscript>        <img src="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4=" alt="Adam Smith Awards 2024">
    </noscript>    <img draggable="false" alt="Adam Smith Awards 2024" src="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4="></figure>


<div class="content">
  <div class="content-block custom-text-width-75">
            <h3>Adam Smith Awards 2024</h3>
    
            <h2>Congratulations <br>to Spotify and <br>Endesa</h2>
    
    

      <div class="button-wrapper">
                                            <a class="button type-primary wt-enabled"  target="_self" title="Spotify and Endesa win Adam Smith Awards with the help of Deutsche Bank">
            <span class="hidden-title">Spotify and Endesa win Adam Smith Awards with the help of Deutsche Bank</span>
            Explore more
          </a>
        
                </div>
  </div>
</div>
</li>

<li class="itm-stage id-c1e99956-7c5e-4c84-83e3-6b4b002dbb28 text-color-light" data-index="2" title="Best Transaction Bank – Asia Pacific" style="cursor: pointer;">
    <div class="gradient type-none"></div>

    <figure class="media type-image load-finished" data-module="StageImage" data-media-src="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4=" data-img-alt="AAA-Awards Best Transaction Bank – Asia Pacific" data-media-src-alternative="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4=">
    <noscript>        <img src="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4=" alt="AAA-Awards Best Transaction Bank – Asia Pacific">
    </noscript>    <img draggable="false" alt="AAA-Awards Best Transaction Bank – Asia Pacific" src="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4="></figure>


<div class="content">
  <div class="content-block custom-text-width-50">
            <h3>Dedication is what drives us</h3>
    
            <h2>Best Transaction Bank – Asia Pacific</h2>
    
    

      <div class="button-wrapper">
                                            <a class="button type-primary wt-enabled" class="https://www.db.com/news/detail/20240516-number-1-transaction-bank-in-asia-pacific?language_id=1" target="_blank" title="AAA-Awards Best Transaction Bank – Asia Pacific – opens in new window">
            <span class="hidden-title">AAA-Awards Best Transaction Bank – Asia Pacific</span>
            Explore more
          </a>
        
                </div>
  </div>
</div>
</li>

<li class="itm-stage id-0d5ba946-43a9-4f7e-bc7e-9e72fc0d7389 text-color-light" data-index="3" title="Digital marketplaces" style="cursor: pointer;">
    <div class="gradient type-none"></div>

    <figure class="media type-image load-finished" data-module="StageImage" data-media-src="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4=" data-img-alt="smartphone with overlay" data-media-src-alternative="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4=">
    <noscript>        <img src="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4=" alt="smartphone with overlay">
    </noscript>    <img draggable="false" alt="smartphone with overlay" src="https://media.gettyimages.com/id/1178856357/photo/financial-planning-for-early-retirement.jpg?s=612x612&w=0&k=20&c=T0iPPK-sK80Npy9DIBEQg94_o6mShkjTH9kz81256y4="></figure>


<div class="content">
  <div class="content-block custom-text-width-50">
    
            <h2>Digital marketplaces</h2>
    
    

      <div class="button-wrapper">
                                            <a class="button type-primary wt-enabled"  target="_blank" title="How treasury can support B2B marketplaces – opens in new window">
            <span class="hidden-title">How treasury can support B2B marketplaces</span>
            Download treasury’s to-do list
          </a>
        
                </div>
  </div>
</div>
</li>

  </ul>
<div class="itm-navigation-buttons"><button class="button type-icononly-bg variant-left wt-enabled active" name="_prev">
  <span class="hidden-title">previous slide item</span><svg focusable="false"><use xlink:class="#svgsymbol-arrow-normal"></use></svg></button><button class="button type-icononly-bg variant-right wt-enabled inactive" name="_next" tabindex="-1">
  <span class="hidden-title">next slide item</span><svg focusable="false"><use xlink:class="#svgsymbol-arrow-normal"></use></svg></button><div class="itm-navigation-mobile"><span class="counter">3 / 3</span><span class="swipe-icon"><svg class="icon"><use xlink:class="#svgsymbol-swipe"></use></svg></span></div></div></div>
</section>


                                                                                                  

                </div>
                                                                    <div class="cms-column-33 row-mobile-full">
                  <section class="cms-container cnt-bannerslot-tiles cnt-accordion" data-module="BannerSlot" data-wt-area="content">
  <div class="mod-accordion">
      <div class="itm-accordion id-0d5ba946-43a9-4f7e-bc7e-9e72fc0d7389 bannerslot" data-show-content="Show content of" data-hide-content="Hide content of">
                  <h3 class="itm-accordion-headline bannerslot">
          <a title="Show content of Banner Slot" class="#show-content-of-banner-slot" data-wt-disable="" data-hash-value="show-content-of-banner-slot" style="touch-action: manipulation; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <span class="hidden-title">Show content of</span>
            more banners
            <div class="arrow-wrapper">
              <span class="arrow-icon">
                <svg focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:class="#svgsymbol-arrow-normal-16"></use>
                </svg>
              </span>
            </div>
                        </a>
        </h3>
        <div class="itm-accordion-content">
<div class="itm-tile">
      


<section class="mod-text-box box-design  type-image-background has-image mobile-background-color-default" id="id-762deb1e-e0f6-4a83-8efb-317fccf7442d">


<div class="wrapper type-image custom-text-width-100 custom-text-position-right">
              <div class="media">
                                           <figure class="mod-img-loader load-finished fill-width" data-module="ImageLoader" data-img-ratio="55.989583333333336" data-img-src-small="https://corporates.db.com/contentAsset/image/6bd2488c-50c7-45a0-8c5d-399719200cb1/fileAsset/filter/Resize,Jpeg/resize_w/640/2187ba60-295a-40a3-856a-39b777954c25.jpg" data-img-src-large="https://media.gettyimages.com/id/1312550959/photo/the-city-of-london-skyline-at-night-united-kingdom.jpg?s=612x612&w=0&k=20&c=Ro-QI9Khk3I9ILVW4hBc26NEmIViFRGveaqVuvWeVJs=" data-img-alt="ESG-Logo_2018-Tuerme-Sonne_384x215_V2.jpg">
                  <noscript>                    <img src="https://media.gettyimages.com/id/1312550959/photo/the-city-of-london-skyline-at-night-united-kingdom.jpg?s=612x612&w=0&k=20&c=Ro-QI9Khk3I9ILVW4hBc26NEmIViFRGveaqVuvWeVJs=" alt="ESG-Logo_2018-Tuerme-Sonne_384x215_V2.jpg" />
                  </noscript>                    <div class="mod-indicator hidden" role="progressbar" aria-label="Loading..."></div>                <img draggable="false" alt="ESG-Logo_2018-Tuerme-Sonne_384x215_V2.jpg" src="https://corporates.db.com/contentAsset/image/6bd2488c-50c7-45a0-8c5d-399719200cb1/fileAsset/filter/Resize,Jpeg/resize_w/640/2187ba60-295a-40a3-856a-39b777954c25.jpg"></figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled"  target="_self" title="Integrate sustainability into your finance activities" data-filetype="none">
          <span class="hidden-title">Integrate sustainability into your finance activities</span>
          Read more on sustainable finance
        </a>
              </h2>
    
    
    
            <a class="button type-icon icon--bg wt-enabled"  target="_self" title="Integrate sustainability into your finance activities">
        <span class="hidden-title">Integrate sustainability into your finance activities</span>
        More
      </a>
    
                      
      </div>

        </div>
  
</div>
</section>
</div><div class="itm-tile">
      


<section class="mod-text-box box-design  type-image-background has-image mobile-background-color-default" id="id-2132b770-6427-4d9c-82ff-2e45db7453cc">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                                           <figure class="mod-img-loader load-finished fill-width" data-module="ImageLoader" data-img-ratio="55.989583333333336" data-img-src-small="https://corporates.db.com/contentAsset/image/4ac50e47-031d-4913-89ed-43b957e9b288/fileAsset/filter/Resize,Jpeg/resize_w/640/4c5ba42b-6411-4f74-ba84-fdd60d6199b7.jpg" data-img-src-large="https://media.gettyimages.com/id/956792726/photo/withdrawing-money-from-atms.jpg?s=612x612&w=0&k=20&c=jqYep7zIhoJk8jRkEjARNLbmnUJwXtNgXZfv5Tiv7Po=" data-img-alt="DB-Flow_Web-_384x215__v2.jpg">
                  <noscript>                    <img src="https://media.gettyimages.com/id/956792726/photo/withdrawing-money-from-atms.jpg?s=612x612&w=0&k=20&c=jqYep7zIhoJk8jRkEjARNLbmnUJwXtNgXZfv5Tiv7Po=" alt="DB-Flow_Web-_384x215__v2.jpg" />
                  </noscript>                    <div class="mod-indicator hidden" role="progressbar" aria-label="Loading..."></div>                <img draggable="false" alt="DB-Flow_Web-_384x215__v2.jpg" src="https://corporates.db.com/contentAsset/image/4ac50e47-031d-4913-89ed-43b957e9b288/fileAsset/filter/Resize,Jpeg/resize_w/640/4c5ba42b-6411-4f74-ba84-fdd60d6199b7.jpg"></figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled" class="https://flow.db.com/app/?kid=small.tile.CB.11.2021" target="_self" title="More" data-filetype="none">
          <span class="hidden-title">More</span>
          Download the<br>flow app today
        </a>
              </h2>
    
    
    
            <a class="button type-icon icon--bg wt-enabled" class="https://flow.db.com/app/?kid=small.tile.CB.11.2021" target="_self" title="More">
        <span class="hidden-title">More</span>
        More
      </a>
    
                      
      </div>

        </div>
  
</div>
</section>
</div>          </div>
      </div>
  </div>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-2">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-page-headline id-6b12b0ee-ed45-4b31-9926-4e29f901a4b8" data-wt-area="content">
<section class="mod-page-headline id-5375bc6e-e0b2-44ff-b382-9b7af2a0e4c0">
  <h1>Corporates and Institutions</h1>  <p>Across Deutsche Bank, we have a variety of complementary solutions for corporate and institutional clients. These range from corporate and transactional banking solutions to investment products and services for large corporations, small and medium-sized companies, governments, institutional investors, and asset managers</p></section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-3">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100 no-container-margin">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-4 type-light-grey">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100 animate-bottom in-view">
                  <section class="cms-container cnt-container-headline id-1307cf0c-c506-4c32-ba6c-d266d8cfc720" data-wt-area="content">
<h2 class="container-headline id-deda77cc-ffca-45ec-8168-49c04d424ef9">Explore Deutsche Bank solutions for corporate and institutional clients</h2>    <div class="mod-widget-background" data-module="RowBackground" data-bg-color="light-grey">
  </div>

</section>
<section class="cms-container cnt-generic type-2 id-4c8fa7c0-60cf-454a-9ab1-4aea8f375b03" data-wt-area="content">



<section class="mod-text-box box-design  type-image-background has-image text-color-light mobile-background-color-default" id="id-1c6f527b-7e2c-4911-a761-3f4a214fd52c">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                                           <figure class="mod-img-loader load-finished fill-width" data-module="ImageLoader" data-img-ratio="33.89830508474576" data-img-src-small="https://corporates.db.com/contentAsset/image/1c62407a-a256-4293-8ec3-9ffe39fc72fc/fileAsset/filter/Resize,Jpeg/resize_w/640/352b4620-1782-401c-b418-c863fe81cb07.jpg" data-img-src-large="https://media.gettyimages.com/id/956792726/photo/withdrawing-money-from-atms.jpg?s=612x612&w=0&k=20&c=jqYep7zIhoJk8jRkEjARNLbmnUJwXtNgXZfv5Tiv7Po=" data-img-alt="CB-corporate-bank-solutions-938628748-590x200.jpg">
                  <noscript>                    <img src="https://media.gettyimages.com/id/956792726/photo/withdrawing-money-from-atms.jpg?s=612x612&w=0&k=20&c=jqYep7zIhoJk8jRkEjARNLbmnUJwXtNgXZfv5Tiv7Po=" alt="CB-corporate-bank-solutions-938628748-590x200.jpg" />
                  </noscript>                    <div class="mod-indicator hidden" role="progressbar" aria-label="Loading..."></div>                <img draggable="false" alt="CB-corporate-bank-solutions-938628748-590x200.jpg" src="https://media.gettyimages.com/id/956792726/photo/withdrawing-money-from-atms.jpg?s=612x612&w=0&k=20&c=jqYep7zIhoJk8jRkEjARNLbmnUJwXtNgXZfv5Tiv7Po="></figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled"  target="_self" title="Corporate Bank solutions" data-filetype="none">
          <span class="hidden-title">Corporate Bank solutions</span>
          Corporate Bank solutions
        </a>
              </h2>
    
    
    
            <a class="button type-icon icon--bg wt-enabled"  target="_self" title="Corporate Bank solutions">
        <span class="hidden-title">Corporate Bank solutions</span>
        More
      </a>
    
                      
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-image-background has-image text-color-light mobile-background-color-default" id="id-77420c43-f2a5-4acc-8104-3da73732b1e1">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                                           <figure class="mod-img-loader load-finished fill-width" data-module="ImageLoader" data-img-ratio="33.89830508474576" data-img-src-small="https://corporates.db.com/contentAsset/image/d3bcdb01-0824-4cf2-b641-d740c43d05ea/fileAsset/filter/Resize,Jpeg/resize_w/640/7fc7d4e6-6116-4821-98ff-e6f8e2de579b.jpg" data-img-src-large="https://media.gettyimages.com/id/636248010/photo/check-remote-deposit-capture-at-cafe.jpg?s=612x612&w=0&k=20&c=GIYFMCNF2LCrMuDe5UV5ipTIScexaf_7H8NXcaQaH-o=" data-img-alt="CB-investment-bank-solutions-697940466-590x200.jpg">
                  <noscript>                    <img src="https://media.gettyimages.com/id/636248010/photo/check-remote-deposit-capture-at-cafe.jpg?s=612x612&w=0&k=20&c=GIYFMCNF2LCrMuDe5UV5ipTIScexaf_7H8NXcaQaH-o=" alt="CB-investment-bank-solutions-697940466-590x200.jpg" />
                  </noscript>                    <div class="mod-indicator hidden" role="progressbar" aria-label="Loading..."></div>                <img draggable="false" alt="CB-investment-bank-solutions-697940466-590x200.jpg" src="https://media.gettyimages.com/id/636248010/photo/check-remote-deposit-capture-at-cafe.jpg?s=612x612&w=0&k=20&c=GIYFMCNF2LCrMuDe5UV5ipTIScexaf_7H8NXcaQaH-o="></figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled"  target="_self" title="Investment Bank solutions" data-filetype="none">
          <span class="hidden-title">Investment Bank solutions</span>
          Investment Bank solutions
        </a>
              </h2>
    
    
    
            <a class="button type-icon icon--bg wt-enabled" target="_self" title="Investment Bank solutions">
        <span class="hidden-title">Investment Bank solutions</span>
        More
      </a>
    
                      
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-image-background has-image text-color-light mobile-background-color-default" id="id-71c4fd40-b1bd-40da-8ba9-c9365c9b9dd2">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                                           <figure class="mod-img-loader load-finished fill-width" data-module="ImageLoader" data-img-ratio="33.89830508474576" data-img-src-small="https://corporates.db.com/contentAsset/image/a5b98233-5283-4d52-bd22-cd29a9d90f98/fileAsset/filter/Resize,Jpeg/resize_w/640/5700545c-57dd-4b1d-955a-8770450ba896.jpg" data-img-src-large="https://media.gettyimages.com/id/636248010/photo/check-remote-deposit-capture-at-cafe.jpg?s=612x612&w=0&k=20&c=https://media.gettyimages.com/id/636248010/photo/check-remote-deposit-capture-at-cafe.jpg?s=612x612&w=0&k=20&c=GIYFMCNF2LCrMuDe5UV5ipTIScexaf_7H8NXcaQaH-o=-o=" data-img-alt="CB-asset-management-solutions-541114144-590x200.jpg">
                  <noscript>                    <img src="https://media.gettyimages.com/id/636248010/photo/check-remote-deposit-capture-at-cafe.jpg?s=612x612&w=0&k=20&c=https://media.gettyimages.com/id/636248010/photo/check-remote-deposit-capture-at-cafe.jpg?s=612x612&w=0&k=20&c=GIYFMCNF2LCrMuDe5UV5ipTIScexaf_7H8NXcaQaH-o=-o=" alt="CB-asset-management-solutions-541114144-590x200.jpg" />
                  </noscript>                    <div class="mod-indicator hidden" role="progressbar" aria-label="Loading..."></div>                <img draggable="false" alt="CB-asset-management-solutions-541114144-590x200.jpg" src="https://media.gettyimages.com/id/636248010/photo/check-remote-deposit-capture-at-cafe.jpg?s=612x612&w=0&k=20&c=https://media.gettyimages.com/id/636248010/photo/check-remote-deposit-capture-at-cafe.jpg?s=612x612&w=0&k=20&c=GIYFMCNF2LCrMuDe5UV5ipTIScexaf_7H8NXcaQaH-o=-o="></figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled"  target="_blank" title="Asset Management solutions – opens in new window" data-filetype="none">
          <span class="hidden-title">Asset Management solutions</span>
          Asset management solutions
        </a>
              </h2>
    
    
    
            <a class="button type-icon icon--bg wt-enabled"  target="_blank" title="Asset Management solutions – opens in new window">
        <span class="hidden-title">Asset Management solutions</span>
        More
      </a>
    
                      
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-image-background has-image text-color-light mobile-background-color-default" id="id-82093b45-5408-45e9-87a9-105de7b7e4f6">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                                           <figure class="mod-img-loader load-finished fill-width" data-module="ImageLoader" data-img-ratio="33.89830508474576" data-img-src-small="https://corporates.db.com/contentAsset/image/0a8d6979-3180-47b3-972d-a2738895bc9d/fileAsset/filter/Resize,Jpeg/resize_w/640/a859df78-1e82-482d-bbc2-c1adf7924d32.jpg" data-img-src-large="https://corporates.db.com/contentAsset/image/0a8d6979-3180-47b3-972d-a2738895bc9d/fileAsset/filter/Resize,Jpeg/resize_w/1280/a859df78-1e82-482d-bbc2-c1adf7924d32.jpg" data-img-alt="CB-client-access-solutions-912944158-590x200.jpg">
                  <noscript>                    <img src="https://corporates.db.com/contentAsset/image/0a8d6979-3180-47b3-972d-a2738895bc9d/fileAsset/filter/Resize,Jpeg/resize_w/1280/a859df78-1e82-482d-bbc2-c1adf7924d32.jpg" alt="CB-client-access-solutions-912944158-590x200.jpg" />
                  </noscript>                    <div class="mod-indicator hidden" role="progressbar" aria-label="Loading..."></div>                <img draggable="false" alt="CB-client-access-solutions-912944158-590x200.jpg" src="https://corporates.db.com/contentAsset/image/0a8d6979-3180-47b3-972d-a2738895bc9d/fileAsset/filter/Resize,Jpeg/resize_w/1280/a859df78-1e82-482d-bbc2-c1adf7924d32.jpg"></figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled" class="/solutions/client-access-solutions/index" target="_self" title="Client access solutions" data-filetype="none">
          <span class="hidden-title">Client access solutions</span>
          Client access solutions
        </a>
              </h2>
    
    
    
            <a class="button type-icon icon--bg wt-enabled" class="/solutions/client-access-solutions/index" target="_self" title="Client access solutions">
        <span class="hidden-title">Client access solutions</span>
        More
      </a>
    
                      
      </div>

        </div>
  
</div>
</section>
  <div class="mod-widget-background" data-module="RowBackground" data-bg-color="light-grey">
  </div>

</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-5">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-6">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-7">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-8">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-9">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-10">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-11 add-container-margin margin-large">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-generic type-3 id-cc3a21e7-9888-49f5-ba71-923fef8a6bee" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-43ee4a17-a516-4732-988c-42a1747c56fa">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" class="/solutions/client-stories/index" target="_self" title="Two distinguished businessmen discussing while walking">
            <figure class="image-wrapper">
                <img src="https://corporates.db.com/contentAsset/image/2b26abd1-69c8-45df-96bf-8b9bbc2e0b47/fileAsset/filter/Resize,Jpeg/resize_w/1280/ae0a7b7b-950f-48d8-b5e5-222c512e68b7l.jpg" srcset="https://corporates.db.com/contentAsset/image/2b26abd1-69c8-45df-96bf-8b9bbc2e0b47/fileAsset/filter/Resize,Jpeg/resize_w/640/ae0a7b7b-950f-48d8-b5e5-222c512e68b7s.jpg 640w,
                             https://corporates.db.com/contentAsset/image/2b26abd1-69c8-45df-96bf-8b9bbc2e0b47/fileAsset/filter/Resize,Jpeg/resize_w/1280/ae0a7b7b-950f-48d8-b5e5-222c512e68b7l.jpg 1280w" alt="Two distinguished businessmen discussing while walking" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="620" height="334">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
        <h3>Review our client’s best practice examples</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" class="/solutions/client-stories/index" target="_self" title="Client stories" data-filetype="none">
          <span class="hidden-title">Client stories</span>
          Why choose Corporate Bank?
        </a>
              </h2>
    
            <p class="text">Review our work with clients and read our client stories</p>
    
    
            <a class="button type-primary wt-enabled" class="/solutions/client-stories/index" target="_self" title="Client stories">
        <span class="hidden-title">Client stories</span>
        More
      </a>
    
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-f1d13807-6820-4d2e-8070-e3eb6083c524">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" class="/in-focus/index" target="_self" title="Giving a helping hand on the background of the dawn">
            <figure class="image-wrapper">
                <img src="https://corporates.db.com/contentAsset/image/2fd01b3c-6b02-4802-a301-494f773dc549/fileAsset/filter/Resize,Jpeg/resize_w/1280/db53d47f-e3e7-4ea3-beea-cee1798aa990l.jpg" srcset="https://corporates.db.com/contentAsset/image/2fd01b3c-6b02-4802-a301-494f773dc549/fileAsset/filter/Resize,Jpeg/resize_w/640/db53d47f-e3e7-4ea3-beea-cee1798aa990s.jpg 640w,
                             https://corporates.db.com/contentAsset/image/2fd01b3c-6b02-4802-a301-494f773dc549/fileAsset/filter/Resize,Jpeg/resize_w/1280/db53d47f-e3e7-4ea3-beea-cee1798aa990l.jpg 1280w" alt="Giving a helping hand on the background of the dawn" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="620" height="334">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
        <h3>Read more on today's issues</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" class="/in-focus/index" target="_self" title="Focus topics" data-filetype="none">
          <span class="hidden-title">Focus topics</span>
          Focus topics
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>From the classic issues that regularly face corporates to new and&nbsp;emerging risks and challenges</p>
      </div>
    
            <a class="button type-primary wt-enabled" class="/in-focus/index" target="_self" title="Focus topics">
        <span class="hidden-title">Focus topics</span>
        More
      </a>
    
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-d2a6bf28-33d4-4264-8f95-ad7194493e95">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" class="https://flow.db.com/" target="_blank" title="flow banner – opens in new window">
            <figure class="image-wrapper">
                <img src="https://corporates.db.com/contentAsset/image/d9de889c-cb74-42dc-b8f5-906cf9f4d093/fileAsset/filter/Resize,Jpeg/resize_w/1280/9354bb46-d008-4677-aa6f-831683c453e5l.jpg" srcset="https://corporates.db.com/contentAsset/image/d9de889c-cb74-42dc-b8f5-906cf9f4d093/fileAsset/filter/Resize,Jpeg/resize_w/640/9354bb46-d008-4677-aa6f-831683c453e5s.jpg 640w,
                             https://corporates.db.com/contentAsset/image/d9de889c-cb74-42dc-b8f5-906cf9f4d093/fileAsset/filter/Resize,Jpeg/resize_w/1280/9354bb46-d008-4677-aa6f-831683c453e5l.jpg 1280w" alt="flow banner" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="620" height="334">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
        <h3>Corporate and transaction banking</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" class="https://flow.db.com/" target="_blank" title="flow magazine – opens in new window" data-filetype="none">
          <span class="hidden-title">flow magazine</span>
          Explore news and insights
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Through our content hub and thought leadership magazine <em>flow&nbsp;</em>we deliver timely and exclusive insights</p>
      </div>
    
            <a class="button type-primary wt-enabled" class="https://flow.db.com/" target="_blank" title="flow magazine – opens in new window">
        <span class="hidden-title">flow magazine</span>
        More
      </a>
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-12">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-66">
                  <section class="cms-container cnt-container-headline id-1307cf0c-c506-4c32-ba6c-d266d8cfc720" data-wt-area="content">
<h2 class="container-headline id-1f2d4bd8-77ca-4043-b687-ae7e016796c7">Stay updated…</h2></section>

                </div>
                                                                    <div class="cms-column-33">
                  <section class="cms-container cnt-container-headline id-1307cf0c-c506-4c32-ba6c-d266d8cfc720" data-wt-area="content">
<h2 class="container-headline id-1c9c002d-6b26-4010-9ab7-b8d46d63d1ad">Top search queries</h2></section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-13">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-66">
                  <section class="cms-container cnt-generic type-2 id-4c8fa7c0-60cf-454a-9ab1-4aea8f375b03" data-wt-area="content">



<section class="mod-text-box box-design  type-image-background has-image mobile-background-color-image" id="id-b60d4023-c095-4f38-b46c-1c290326bc9a" data-module="TextBoxHeight" data-min-height="300" style="min-height: 300px;">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                                           <figure class="mod-img-loader load-finished fill-height" data-module="ImageLoader" data-img-ratio="77.92207792207793" data-img-src-small="https://corporates.db.com/contentAsset/image/498ce31c-9d65-47e1-9dfd-9031a63ead4d/fileAsset/filter/Resize,Jpeg/resize_w/640/a6dd7ff4-971d-409a-9e3d-93c259bf4947.jpg" data-img-src-large="https://corporates.db.com/contentAsset/image/498ce31c-9d65-47e1-9dfd-9031a63ead4d/fileAsset/filter/Resize,Jpeg/resize_w/1280/a6dd7ff4-971d-409a-9e3d-93c259bf4947.jpg" data-img-alt="Multimedia_385x300_V2.jpg">
                  <noscript>                    <img src="https://corporates.db.com/contentAsset/image/498ce31c-9d65-47e1-9dfd-9031a63ead4d/fileAsset/filter/Resize,Jpeg/resize_w/1280/a6dd7ff4-971d-409a-9e3d-93c259bf4947.jpg" alt="Multimedia_385x300_V2.jpg" />
                  </noscript>                    <div class="mod-indicator hidden" role="progressbar" aria-label="Loading..."></div>                <img draggable="false" alt="Multimedia_385x300_V2.jpg" src="https://corporates.db.com/contentAsset/image/498ce31c-9d65-47e1-9dfd-9031a63ead4d/fileAsset/filter/Resize,Jpeg/resize_w/640/a6dd7ff4-971d-409a-9e3d-93c259bf4947.jpg"></figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled" class="/multimedia/index" target="_self" title="Multimedia" data-filetype="none">
          <span class="hidden-title">Multimedia</span>
          Multimedia
        </a>
              </h2>
    
    
    
            <a class="button type-icon icon--bg wt-enabled" class="/multimedia/index" target="_self" title="Multimedia">
        <span class="hidden-title">Multimedia</span>
        More
      </a>
    
                      
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-image-background has-image text-color-light mobile-background-color-image" id="id-2c2daed3-09a3-4146-bbe8-379f7a9fbb25">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                                           <figure class="mod-img-loader load-finished fill-height" data-module="ImageLoader" data-img-ratio="77.92207792207793" data-img-src-small="https://corporates.db.com/contentAsset/image/324d808c-0302-46be-aec2-16af04b0e463/fileAsset/filter/Resize,Jpeg/resize_w/640/6e3f28df-08ed-4435-b4fc-772cc5b3828e.jpg" data-img-src-large="https://corporates.db.com/contentAsset/image/324d808c-0302-46be-aec2-16af04b0e463/fileAsset/filter/Resize,Jpeg/resize_w/1280/6e3f28df-08ed-4435-b4fc-772cc5b3828e.jpg" data-img-alt="Latest.publications_385x300_V2.jpg">
                  <noscript>                    <img src="https://corporates.db.com/contentAsset/image/324d808c-0302-46be-aec2-16af04b0e463/fileAsset/filter/Resize,Jpeg/resize_w/1280/6e3f28df-08ed-4435-b4fc-772cc5b3828e.jpg" alt="Latest.publications_385x300_V2.jpg" />
                  </noscript>                    <div class="mod-indicator hidden" role="progressbar" aria-label="Loading..."></div>                <img draggable="false" alt="Latest.publications_385x300_V2.jpg" src="https://corporates.db.com/contentAsset/image/324d808c-0302-46be-aec2-16af04b0e463/fileAsset/filter/Resize,Jpeg/resize_w/640/6e3f28df-08ed-4435-b4fc-772cc5b3828e.jpg"></figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled" class="/publications/index" target="_self" title="Latest publications" data-filetype="none">
          <span class="hidden-title">Latest publications</span>
          Latest publications
        </a>
              </h2>
    
    
    
            <a class="button type-icon icon--bg wt-enabled" class="/publications/index" target="_self" title="Latest publications">
        <span class="hidden-title">Latest publications</span>
        More
      </a>
    
                      
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                                                                    <div class="cms-column-33">
                  <section class="cms-container cnt-tag-cloud-container loaded" data-module="TagCloudContainer">
<div class="tag-wrapper position-4" data-position="4" data-target="_self" style="--elementWidth: 134px;">
          <div class="richtext-wrapper">
        <div class="text rich-text" data-module="RichTextContent">
          <div aria-live="assertive"></div>
          <a class="https://corporates.db.com/solutions/corporate-bank-solutions/cash-management/merchant-solutions/marketplace-payments?kid=tc.2024" aria-disabled="false" role="link" target="_self" class="wt-enabled" title="marketplace payments">
            <h2>marketplace payments</h2>
          </a>
        </div>
      </div>
  </div>

<div class="tag-wrapper position-6" data-position="6" data-target="_self" style="--elementWidth: 36px;">
          <div class="richtext-wrapper">
        <div class="text rich-text" data-module="RichTextContent">
          <div aria-live="assertive"></div>
          <a class="https://corporates.db.com/solutions/Client-access-solutions/International-Payment-Tracking/?kid=tc.2024" aria-disabled="false" role="link" target="_self" class="wt-enabled" title="UETR">
            <h2>UETR</h2>
          </a>
        </div>
      </div>
  </div>

<div class="tag-wrapper position-1" data-position="1" data-target="_self" style="--elementWidth: 73.5px;">
          <div class="richtext-wrapper">
        <div class="text rich-text" data-module="RichTextContent">
          <div aria-live="assertive"></div>
          <a class="https://corporates.db.com/solutions/investment-bank-solutions/Foreign-exchange/fx4cash?kid=tc.2024" aria-disabled="false" role="link" target="_self" class="wt-enabled" title="currency guide">
            <h3>currency guide</h3>
          </a>
        </div>
      </div>
  </div>

<div class="tag-wrapper position-4" data-position="4" data-target="_self" style="--elementWidth: 64px;">
          <div class="richtext-wrapper">
        <div class="text rich-text" data-module="RichTextContent">
          <div aria-live="assertive"></div>
          <a class="https://corporates.db.com/in-focus/Focus-topics/iso20022/?kid=tc.2024" aria-disabled="false" role="link" target="_self" class="wt-enabled" title="ISO 20022">
            <h2><strong>ISO 20022</strong></h2>
          </a>
        </div>
      </div>
  </div>

<div class="tag-wrapper position-5" data-position="5" data-target="_self" style="--elementWidth: 96px;">
          <div class="richtext-wrapper">
        <div class="text rich-text" data-module="RichTextContent">
          <div aria-live="assertive"></div>
          <a class="https://corporates.db.com/solutions/corporate-bank-solutions/cash-management/merchant-solutions/?kid=tc.2024" aria-disabled="false" role="link" target="_self" class="wt-enabled" title="merchant solutions">
            <h3>merchant solutions</h3>
          </a>
        </div>
      </div>
  </div>

<div class="tag-wrapper position-3" data-position="3" data-target="_self" style="--elementWidth: 74px;">
          <div class="richtext-wrapper">
        <div class="text rich-text" data-module="RichTextContent">
          <div aria-live="assertive"></div>
          <a class="https://corporates.db.com/publications/flow-briefing/?kid=tc.2024" aria-disabled="false" role="link" target="_self" class="wt-enabled" title="flow briefing">
            <h2><strong>flow briefing</strong></h2>
          </a>
        </div>
      </div>
  </div>

<div class="tag-wrapper position-4" data-position="8" data-target="_blank" style="--elementWidth: 20px;">
          <div class="richtext-wrapper">
        <div class="text rich-text" data-module="RichTextContent">
          <div aria-live="assertive"></div>
          <a class="https://flow.db.com/more/macro-and-markets/india-s-new-growth-frontiers?kid=tc.2024" aria-disabled="false" role="link" target="_blank" class="wt-enabled" title="india - opens in new window">
            <h4>india</h4>
          </a>
        </div>
      </div>
  </div>

<div class="tag-wrapper position-1" data-position="1" data-target="_self" style="--elementWidth: 54px;">
          <div class="richtext-wrapper">
        <div class="text rich-text" data-module="RichTextContent">
          <div aria-live="assertive"></div>
          <a class="https://corporates.db.com/solutions/corporate-bank-solutions/trade-finance/?kid=tc.2024" aria-disabled="false" role="link" target="_self" class="wt-enabled" title="trade finance">
            <h4>trade finance</h4>
          </a>
        </div>
      </div>
  </div>

<div class="tag-wrapper position-5" data-position="5" data-target="_self" style="--elementWidth: 11px;">
          <div class="richtext-wrapper">
        <div class="text rich-text" data-module="RichTextContent">
          <div aria-live="assertive"></div>
          <a class="https://flow.db.com/more/technology/ai-less-chat-more-action-and-traction?kid=tc.2024" aria-disabled="false" role="link" target="_self" class="wt-enabled" title="AI">
            <h3><b>AI</b></h3>
          </a>
        </div>
      </div>
  </div>

</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-14">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100 no-container-margin">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-15 type-light-grey">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-container-headline id-1307cf0c-c506-4c32-ba6c-d266d8cfc720" data-wt-area="content">
<h2 class="container-headline id-e8c13930-7eb7-4bde-96f8-ace9e4214f2d">Find out more about our recent awards</h2>    <div class="mod-widget-background" data-module="RowBackground" data-bg-color="light-grey">
  </div>

</section>
<section class="cms-container cnt-generic type-3 id-cc3a21e7-9888-49f5-ba71-923fef8a6bee" data-wt-area="content">



<section class="mod-text-box box-design  type-image-background has-image mobile-background-color-default" id="id-40b573a9-4b34-441d-b1a3-5c0a98fa7e1f" data-module="TextBoxHeight" data-min-height="324" style="min-height: 324px;">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                                           <figure class="mod-img-loader load-finished" data-module="ImageLoader" data-img-ratio="84.375" data-img-src-small="https://corporates.db.com/contentAsset/image/7e270af0-4b55-4552-9569-36bd95e4faa8/fileAsset/filter/Resize,Jpeg/resize_w/640/a96645c6-ff13-4873-8aa7-1c5a4a4250f7.jpg" data-img-src-large="https://corporates.db.com/contentAsset/image/7e270af0-4b55-4552-9569-36bd95e4faa8/fileAsset/filter/Resize,Jpeg/resize_w/1280/a96645c6-ff13-4873-8aa7-1c5a4a4250f7.jpg" data-img-alt="Quality-Leader-2024.jpg">
                  <noscript>                    <img src="https://corporates.db.com/contentAsset/image/7e270af0-4b55-4552-9569-36bd95e4faa8/fileAsset/filter/Resize,Jpeg/resize_w/1280/a96645c6-ff13-4873-8aa7-1c5a4a4250f7.jpg" alt="Quality-Leader-2024.jpg" />
                  </noscript>                    <div class="mod-indicator hidden" role="progressbar" aria-label="Loading..."></div>                <img draggable="false" alt="Quality-Leader-2024.jpg" src="https://corporates.db.com/contentAsset/image/7e270af0-4b55-4552-9569-36bd95e4faa8/fileAsset/filter/Resize,Jpeg/resize_w/640/a96645c6-ff13-4873-8aa7-1c5a4a4250f7.jpg"></figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                Quality Leader in Germany
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>2024 Greenwich Quality Leader, European Large Corporate Cash Management<br> <br>January 2024</p>
      </div>
    
    
                      
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-image-background has-image mobile-background-color-default" id="id-dbfc28ef-d16d-4f50-be40-94b385719288" data-module="TextBoxHeight" data-min-height="324" style="min-height: 324px;">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                                           <figure class="mod-img-loader load-finished" data-module="ImageLoader" data-img-ratio="84.375" data-img-src-small="https://corporates.db.com/contentAsset/image/886b2c36-e100-4d68-8122-a6350fc4fbc0/fileAsset/filter/Resize,Jpeg/resize_w/640/d9c4862d-cee3-48b8-9a32-e5f5516a7b73.jpg" data-img-src-large="https://corporates.db.com/contentAsset/image/886b2c36-e100-4d68-8122-a6350fc4fbc0/fileAsset/filter/Resize,Jpeg/resize_w/1280/d9c4862d-cee3-48b8-9a32-e5f5516a7b73.jpg" data-img-alt="TF24-Market-Leader-Overall-Germany.jpg">
                  <noscript>                    <img src="https://corporates.db.com/contentAsset/image/886b2c36-e100-4d68-8122-a6350fc4fbc0/fileAsset/filter/Resize,Jpeg/resize_w/1280/d9c4862d-cee3-48b8-9a32-e5f5516a7b73.jpg" alt="TF24-Market-Leader-Overall-Germany.jpg" />
                  </noscript>                    <div class="mod-indicator hidden" role="progressbar" aria-label="Loading..."></div>                <img draggable="false" alt="TF24-Market-Leader-Overall-Germany.jpg" src="https://corporates.db.com/contentAsset/image/886b2c36-e100-4d68-8122-a6350fc4fbc0/fileAsset/filter/Resize,Jpeg/resize_w/640/d9c4862d-cee3-48b8-9a32-e5f5516a7b73.jpg"></figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                Best Trade Finance Provider
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Euromoney Trade Finance Survey 2024<br> <br>February 2024</p>
      </div>
    
    
                      
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-image-background has-image mobile-background-color-default" id="id-11f010ef-edfd-443f-a627-a7e16afa40ed" data-module="TextBoxHeight" data-min-height="324" style="min-height: 324px;">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                                           <figure class="mod-img-loader load-finished" data-module="ImageLoader" data-img-ratio="84.375" data-img-src-small="https://corporates.db.com/contentAsset/image/5640310f-df19-4882-b49e-57acf9b4d933/fileAsset/filter/Resize,Jpeg/resize_w/640/47f1e9c7-21a2-4d6a-8fb1-5ec0092f0ceb.jpg" data-img-src-large="https://corporates.db.com/contentAsset/image/5640310f-df19-4882-b49e-57acf9b4d933/fileAsset/filter/Resize,Jpeg/resize_w/1280/47f1e9c7-21a2-4d6a-8fb1-5ec0092f0ceb.jpg" data-img-alt="artboardplatform-marketplace.jpg">
                  <noscript>                    <img src="https://corporates.db.com/contentAsset/image/5640310f-df19-4882-b49e-57acf9b4d933/fileAsset/filter/Resize,Jpeg/resize_w/1280/47f1e9c7-21a2-4d6a-8fb1-5ec0092f0ceb.jpg" alt="artboardplatform-marketplace.jpg" />
                  </noscript>                    <div class="mod-indicator hidden" role="progressbar" aria-label="Loading..."></div>                <img draggable="false" alt="artboardplatform-marketplace.jpg" src="https://corporates.db.com/contentAsset/image/5640310f-df19-4882-b49e-57acf9b4d933/fileAsset/filter/Resize,Jpeg/resize_w/640/47f1e9c7-21a2-4d6a-8fb1-5ec0092f0ceb.jpg"></figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                Best platform/ marketplace provider
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>mpe awards 2024<br> <br>March 2024</p>
      </div>
    
    
                      
      </div>

        </div>
  
</div>
</section>
</section>
<section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-ffd5d6f0-11e6-47e4-acfd-5a0046465b77">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
    
            <a class="button type-primary wt-enabled" class="/clients/global-recognition" target="_self" title="Show all corporates awards">
        <span class="hidden-title">Show all corporates awards</span>
        Show all
      </a>
    
      </div>

        </div>
  
</div>
</section>

</section>

                </div>
                            </div>
          </div>
        </section>
                  <!--stopindex-->  
  </div>
{% endblock content %}