
{% extends "./base.html" %}
{% load static %}

{% block content %}
<div id="content" role="main" data-module="ContentAnimation">
    <!--startindex-->
                            <section class="cms-row row-index-1">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  

                                                                                                      
<section class="cms-container cnt-breadcrumb" data-wt-area="stage-breadcrumb">
  <nav class="navigation-breadcrumb">
      <span class="breadcrumb-label">
                          You are here:
                  </span>
      <ul>
          <li>
            <a title="Home" href="/" class="wt-enabled">
              Home
            </a>
        </li>
                                          
              <li>
                                        <a title="Legal resources" href="/legal-resources" class="wt-enabled">
                                                  Legal resources
                                            </a>
                                  </li>
                                      <li>Privacy Notice</li>
                  </ul>
  </nav>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-2">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-page-headline id-6b12b0ee-ed45-4b31-9926-4e29f901a4b8" data-wt-area="content">
<section class="mod-page-headline id-554f9116-c1ab-4236-91a5-94b8980f200e">
  <h1>Privacy Notice</h1>  </section>
</section>
<section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-d4d554ca-f4f9-418c-a928-a1a6d010b0ce">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>At {{i.name}} we recognise the importance of personal information entrusted to us. It is one of our fundamental responsibilities as a bank to ensure that we protect the information entrusted to us by our clients and our website visitors. Please find below select security measures we established to protect your privacy.</p>
<h4>Why does {{i.name}} collect personal information?</h4>
<p>We collect, process, and use personal information on our websites in order to offer you even better products and services, best adapt our business processes to our clients’ needs, and steer you to the most suitable product information and online banking applications.</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>

</section>
<section class="cms-container cnt-accordion" data-module="Accordion" data-wt-area="content">
  <div class="mod-accordion">
<div class="itm-accordion  id-18a707e8-2d92-4a5c-9b78-e765b55caa14" data-show-content="Show content of" data-hide-content="Hide content of">
<h3 class="itm-accordion-headline">
  <a title="Show content of How is information collected and how long is it retained?" href="#show-content-of-how-is-information-collected-and-how-long-is-it-retained" data-wt-disable="" data-hash-value="show-content-of-how-is-information-collected-and-how-long-is-it-retained" style="touch-action: manipulation; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <span class="hidden-title">Show content of</span>
    How is information collected and how long is it retained?
          <span class="arrow-icon">
      <svg focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgsymbol-arrow-normal-16"></use>
      </svg>
    </span>
        </a>
</h3>
<div class="itm-accordion-content">
      


<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-18a707e8-2d92-4a5c-9b78-e765b55caa14">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Information collected on our website will only be retained for as long as necessary to fulfil the purpose for which it was collected. If you wish to access or correct any information {{i.name}} AG holds about you, you may have your data deleted, blocked or corrected (as long as compliant with applicable law). You have the right to access the personal information we hold about you; this service is free of charge.</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</div>
</div>
<div class="itm-accordion  id-e25aa53d-be88-4d00-8923-5a209d7280f1" data-show-content="Show content of" data-hide-content="Hide content of">
<h3 class="itm-accordion-headline">
  <a title="Show content of What information is collected and how is it used?" href="#show-content-of-what-information-is-collected-and-how-is-it-used" data-wt-disable="" data-hash-value="show-content-of-what-information-is-collected-and-how-is-it-used" style="touch-action: manipulation; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <span class="hidden-title">Show content of</span>
    What information is collected and how is it used?
          <span class="arrow-icon">
      <svg focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgsymbol-arrow-normal-16"></use>
      </svg>
    </span>
        </a>
</h3>
<div class="itm-accordion-content">
      


<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-e25aa53d-be88-4d00-8923-5a209d7280f1">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>This information is collected using pseudonymised tracking and is then forwarded to us:</p>
<h4>Data tracking</h4>
<p>Tracking information includes details of the originating page that you used to access the {{i.name}} website including the search requests you may have made when using a search engine. Details of the {{i.name}} websites you visited and which search terms you may have used on the website are also collected, as well as additional information about website errors, website scrolling and the volume of data transferred between your browser and the web server.</p>
<h4>Length of stay</h4>
<p>We record the duration of your visit by processing when your visit started and came to an end as well as the network activity time, pop-up display time and the time that any errors occurred.</p>
<h4>Pseudonymised IDs</h4>
<p>Your pseudonymised IDs (uniquely identifiable number combinations) are stored In order to identify you as a repeat visitor to our website.</p>
<h4>Session information</h4>
<p>Besides temporary session IDs, with which your visit can be assigned via several subpages, your session information also includes the duration of the session.</p>
<h4>Campaign information</h4>
<p>Campaign information comprises the advertising media you have clicked on, where it is located and which marketing campaign it belongs to.</p>
<h4>Loading times</h4>
<p>The information collected includes the time taken for images and the whole website to load, as well as the time at which the website was loaded completely and the time spent on the website.</p>
<h4>Location information</h4>
<p>Where available, we collect information about the postcode, town, country, longitude, latitude and time zone of your visit.</p>
<h4>System information</h4>
<p>The information about the system with which you visit the website, including the display resolution, the operating system and browser used, network and connection information, the end device used, information about cookies, flash and JavaScript as well as the language setting, your domain, the IP address (shortened) and where applicable your organisation (if available)</p>
<p>We use the information collected on our websites to compile user profiles using pseudonyms. These pseudonymised user profiles do not allow any of your personal details to be identified. You can opt out of your information being collected by using the “Analytics &amp; Re-Marketing Opt-out” link further down this page. Without your explicit consent this tracking information will not be combined with your personal information.</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</div>
</div>
<div class="itm-accordion  id-baa9aa97-bde4-4a9c-b33a-c7aca046f19c" data-show-content="Show content of" data-hide-content="Hide content of">
<h3 class="itm-accordion-headline">
  <a title="Show content of How is information retained, protected, and used?" href="#show-content-of-how-is-information-retained-protected-and-used" data-wt-disable="" data-hash-value="show-content-of-how-is-information-retained-protected-and-used" style="touch-action: manipulation; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <span class="hidden-title">Show content of</span>
    How is information retained, protected, and used?
          <span class="arrow-icon">
      <svg focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgsymbol-arrow-normal-16"></use>
      </svg>
    </span>
        </a>
</h3>
<div class="itm-accordion-content">
      


<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-baa9aa97-bde4-4a9c-b33a-c7aca046f19c">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Information input collected through this website will be transferred to the responsible {{i.name}} AG division. Banking secrecy as well as confidentiality are maintained. Data will not be transferred to third parties, unless necessary to answer your queries (i.e. leaflets dispatched by vendors). Your information is used to exclusively fulfil the purpose for which it is collected, relating to the website through which it is collected.</p>
<p>Websites through which we collect your information are usually encoded using the encryption module of your browser. These sites are certified by renowned institutions for international encryption technique, analogous to {{i.name}}’s Internet Banking. Moreover, {{i.name}} AG put in place additional and comprehensive state-of-the-art security measures when both accounts and custody accounts are accessed via the Internet. Firewalls prevent unauthorized access.</p>
<p>Diverse encryption and identification layers protect customer information from intrusion or disclosure to third parties during data transfer. Furthermore, {{i.name}} AG internally uses sophisticated encoding methods in order to prevent de-coding by unauthorised persons. Moreover, an electronic identifier is generated during data transfer to safeguard your information.</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</div>
</div>
<div class="itm-accordion  id-54902daa-189f-4420-828e-c0dc73cd1189" data-show-content="Show content of" data-hide-content="Hide content of">
<h3 class="itm-accordion-headline">
  <a title="Show content of Data privacy notices and EU General Data Protection Regulation" href="#show-content-of-data-privacy-notices-and-eu-general-data-protection-regulation" data-wt-disable="" data-hash-value="show-content-of-data-privacy-notices-and-eu-general-data-protection-regulation" style="touch-action: manipulation; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <span class="hidden-title">Show content of</span>
    Data privacy notices and EU General Data Protection Regulation
          <span class="arrow-icon">
      <svg focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgsymbol-arrow-normal-16"></use>
      </svg>
    </span>
        </a>
</h3>
<div class="itm-accordion-content">
      


<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-54902daa-189f-4420-828e-c0dc73cd1189">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>In addition to this website-specific privacy notice, further data privacy information, as required by the <a class="//www.deutsche-bank.de/pfb/content/pk-rechtliche-hinweise.html?pfb_toggle=34735-34742" target="_blank" title="EU General Data Protection Regulation (opens new window)" class="wt-enabled">EU General Data Protection Regulation</a> under A. X. in German and English.</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</div>
</div>
<div class="itm-accordion  id-b6a323e0-d776-42f3-987f-3c68c6f4a426" data-show-content="Show content of" data-hide-content="Hide content of">
<h3 class="itm-accordion-headline">
  <a title="Show content of Data privacy notes on social plugins" href="#show-content-of-data-privacy-notes-on-social-plugins" data-wt-disable="" data-hash-value="show-content-of-data-privacy-notes-on-social-plugins" style="touch-action: manipulation; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <span class="hidden-title">Show content of</span>
    Data privacy notes on social plugins
          <span class="arrow-icon">
      <svg focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgsymbol-arrow-normal-16"></use>
      </svg>
    </span>
        </a>
</h3>
<div class="itm-accordion-content">
      


<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-b6a323e0-d776-42f3-987f-3c68c6f4a426">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Our website uses social plugins (“plugins”) from social networking sites like Facebook, LinkedIn X and XING. If you access a {{i.name}} website using such a plugin, your browser will contact the server of the underlying social networking site, load the visual presentation of the plugin, and present it to you.</p>
<p>While this is happening, the social networking site receives information concerning your visit to our website, as well as further data such as your IP address. In order to ensure an appropriate level of data privacy in connection with our internet presence, we have deactivated the respective plugins with a button and placed a short data privacy note that can be consulted before a plugin is activated.</p>
<p>Our website also contains links to social networking sites like Facebook, Instagram, LinkedIn, Threads, WeChat, X, XING or YouTube. We have no influence on the&nbsp;data that social networking sites collect via an active plugin or via a link. For more information, please consult the relevant data privacy notice:</p>
<ul>
<li><a class="//en-gb.facebook.com/privacy/explanation" title="Meta privacy policy – opens in new window" class="link-disclaimer wt-enabled" target="_blank">Facebook</a></li>
<li><a class="//www.instagram.com/about/legal/terms/" title="Instagram terms and imprint – opens in new window" class="link-disclaimer wt-enabled" target="_blank">Instagram</a></li>
<li><a href="http://www.linkedin.com/legal/privacy-policy" title="Linkedin privacy policy – opens in new window" class="link-disclaimer wt-enabled" target="_blank">LinkedIn</a></li>
<li><a class="//help.instagram.com/515230437301944?locale=en_GB" target="_blank" class="link-disclaimer wt-enabled" title="Threads supplemental privacy policy – opens in new window">Threads</a></li>
<li><a class="//www.wechat.com/en/privacy_policy.html" target="_blank" class="link-disclaimer wt-enabled" title="WeChat privacy policy – opens in new window">WeChat</a></li>
<li><a class="//twitter.com/privacy?lang=en" title="Privacy policy of X – opens in new window" class="link-disclaimer wt-enabled" target="_blank">X</a></li>
<li><a class="//privacy.xing.com/en" title="XING privacy policy – opens in new window" class="link-disclaimer wt-enabled" target="_blank">XING</a></li>
<li><a class="//www.youtube.com/t/terms" title="YouTube terms of service – opens in new window" class="link-disclaimer wt-enabled" target="_blank">YouTube</a></li>
</ul>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</div>
</div>
<div class="itm-accordion  id-635c64e3-41e8-4068-a125-5fff353929e9" data-show-content="Show content of" data-hide-content="Hide content of">
<h3 class="itm-accordion-headline">
  <a title="Show content of Cookies" href="#show-content-of-cookies" data-wt-disable="" data-hash-value="show-content-of-cookies" style="touch-action: manipulation; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <span class="hidden-title">Show content of</span>
    Cookies
          <span class="arrow-icon">
      <svg focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgsymbol-arrow-normal-16"></use>
      </svg>
    </span>
        </a>
</h3>
<div class="itm-accordion-content">
      


<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-635c64e3-41e8-4068-a125-5fff353929e9">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>In view of the importance of data privacy, and our obligations of transparency, we provide information below about cookies, how we use them on our website.</p>
<h3>What are cookies?</h3>
<p>Cookies are small text files that are sent to your computer to ensure the technical functionality of the website. {{i.name}} uses cookies in some areas of its web pages to make it easier for you to use the pages and to make them more personalized.</p>
<h3>Terminology</h3>
<p>When trying to understand cookies, it can help to know following terminology:</p>
<ul>
<li>Cookies installed on your device by the organization running the website you are visiting are known as “first party” cookies.</li>
<li>Cookies installed on your device via the website you are visiting by another organization are termed “third party” cookies. An example is a cookie set by a specialist website analytics company that provides the website owner with data on the numbers of people visiting its website (Cookies for range and usage analysis).</li>
<li>So-called “persistent cookies” remain on your device even after you close your internet browser. They are activated each time you visit the website that created that particular cookie. For example, where a "persistent cookie" is used on a website to remember your login details, you will not need to enter those details each time you visit that website (Functional and preference cookies).</li>
<li>Session cookies, by contrast, are temporary and are typically used to enable the website to operate, e.g. by permitting a user to move from page to page without having to log in again. Once you close your browser, all session cookies are deleted (Technically necessary cookies).</li>
<li>Flash cookies are installed by websites that contain media (e.g. video clips). Adobe Flash software is required for this. This allows content to be downloaded more quickly and information to be stored, for example that the content has been accessed from your device (Functional and preference cookies).</li>
</ul>
<h3>What cookies do we use?</h3>
<p>This website only uses cookies that are necessary for the technical functionality of our website and the recognition of errors and security relevant conspicuous features or to offer a service or functionality requested by you; e.g. a cookie that "remembers" your personal settings such as selected language or similar. Marketing cookies and other cookies requiring your consent are not used on this site.</p>
<p>The following technically necessary cookies are used.</p>
<div class="wrapper-table is-desktop" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><button class="button type-swipe wt-enabled"><svg focusable="false"><use xlink:href="#svgsymbol-swipe"></use></svg></button><table width="887" height="80">
<tbody>
<tr><th id="th_0">
<h4>Cookie name</h4>
</th><th id="th_1">
<h4>Purpose of use</h4>
</th><th id="th_2">
<h4>Class</h4>
</th><th id="th_3">
<h4>Lifetime</h4>
</th><th id="th_4">
<h4>Type</h4>
</th><th id="th_5">
<h4>Processing company</h4>
</th></tr>
<tr>
<td headers="th_0">wt3_eid</td>
<td headers="th_1">Fraud detection</td>
<td headers="th_2">Technically necessary</td>
<td headers="th_3">6 months</td>
<td headers="th_4">Persistent</td>
<td headers="th_5">Webtrekk GmbH</td>
</tr>
<tr>
<td headers="th_0">wt3_sid</td>
<td headers="th_1">Session management</td>
<td headers="th_2">Technically necessary</td>
<td headers="th_3">
<p>Session</p>
</td>
<td headers="th_4">Session cookie</td>
<td headers="th_5">Webtrekk GmbH</td>
</tr>
<tr>
<td headers="th_0">wt_rla</td>
<td headers="th_1">Bot detection and website security</td>
<td headers="th_2">Technically necessary</td>
<td headers="th_3">Session</td>
<td headers="th_4">Session cookie</td>
<td headers="th_5">Webtrekk GmbH</td>
</tr>
</tbody>
</table></div>
<p></p>
<h3>How to control cookies</h3>
<p>Some cookies allow you to take full advantage of the functionality of our website. In order to offer certain functionalities, certain technically necessary cookies can be used to display these functionalities correctly.</p>
<p>You can set your web browser to disable cookies. Please note that most browsers offer different ways to protect your privacy. If you do not activate or deactivate certain cookies via the browser settings, it is possible that certain functionalities will not be available to you as expected. For example, you can allow first-party cookies, but block third-party cookies, or receive a notification each time a website wants to install a cookie.</p>
<p>Please note that if you disable cookies in this way, you will not be able to set new cookies. However, it will not prevent previously set cookies from continuing to work on your device until you clear all cookies in your browser settings. Instructions for managing cookies on your browser can usually be found under the browser's help function or in the operating instructions for your smartphone.</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</div>
</div>
  </div>
</section>
<section class="cms-container cnt-generic id-07da7c23-bbc5-4cb8-9988-2c38693c0cd4" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-2349594e-0688-4871-88f4-45f7749798fd">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>If you&nbsp;are not satisfied with the above information or if you have any&nbsp;questions about the collection, processing or use of your data, please contact us. We will&nbsp;endeavour to reply as quickly as possible and take any suggestions you may have into account.</p>
<p>For any inquiries your personal data that we hold, please email&nbsp;<a href="mailto:data.privacy@db.com" title="data.privacy@db.com – opens in new window" class="wt-enabled">data.privacy@db.com</a> or use the following&nbsp;<a class="//www.deutsche-bank.de/pfb/data/docs/ser-_auskunftsanfrage-eu-datenschutz-grundverordnung-ag.pdf" target="_blank" title="Request for information according to the EU General Data Protection Regulation (PDF, in German) – opens in new window" class="has-icon wt-enabled" style="padding-left: 2.38em;"><svg class="filetype-icon" viewBox="0 0 28 28" preserveAspectRatio="xMinYMin meet">
  <g>
    <use xlink:href="#svgsymbol-filetype"></use>
    <text fill="#fff" fill-rule="evenodd" font-size="9" font-weight="bold">
      <tspan x="5.00" y="20">PDF   </tspan>
    </text>
  </g>
</svg>form (PDF, in German)</a>.</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                  <!--stopindex-->
  </div>
{% endblock content %}
