{% extends "./base.html" %}
{% load static %}

{% block content %}
<div id="content" role="main" data-module="ContentAnimation">
  <!--startindex-->
                          <section class="cms-row row-index-1">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                <section class="cms-container cnt-stage" data-wt-area="stage">
<div class="mod-stage type-450" data-module="Stage" data-text-toggle="Slide" data-text-button-prev="_prev" data-text-button-next="_next" data-text-toggle-description="slide to" data-text-button-prev-description="previous slide item" data-text-button-next-description="next slide item">
<ul class="slider-wrapper">
<li class="itm-stage id-a3b6c00c-87b8-4a64-a224-1c1c618e20de text-color-light" data-index="1" title="History precedes the future">
  <div class="gradient type-blue"></div>

  <figure class="media type-image" data-module="StageImage" data-media-src="https://media.gettyimages.com/id/1335397197/photo/businesswoman-at-the-office.jpg?s=612x612&w=0&k=20&c=4GvqdS5Y_HL91XinzYhqBpBrcRii7E2OdATpObv3WvQ=" data-img-alt="Home_Stage.jpg" data-media-src-alternative="https://corporates.db.com/contentAsset/raw-data/db5c1e1a-4fbf-426f-8b36-e30c3d78eb7b/fileAsset?language_id=1">
  <noscript>        <img src="https://media.gettyimages.com/id/1335397197/photo/businesswoman-at-the-office.jpg?s=612x612&w=0&k=20&c=4GvqdS5Y_HL91XinzYhqBpBrcRii7E2OdATpObv3WvQ=" alt="Home_Stage.jpg">
  </noscript>    </figure>


<div class="content">
<div class="content-block custom-text-width-75">
  
          <h2>History precedes<br>the future</h2>
  
  

    <div class="button-wrapper">
      
              </div>
</div>
</div>
</li>

<li class="itm-stage id-f8a7a499-f9f6-4a2a-8212-0b01e4014c66 text-color-light" data-index="2" title="FAQ">
  <div class="gradient type-blue"></div>

  <figure class="media type-image" data-module="StageImage" data-media-src="https://corporates.db.com/contentAsset/raw-data/8e77e4c1-703d-4da7-9443-851adfeede49/fileAsset?language_id=1" data-img-alt="FAQ_Stage.JPG" data-media-src-alternative="https://corporates.db.com/contentAsset/raw-data/8e77e4c1-703d-4da7-9443-851adfeede49/fileAsset?language_id=1">
  <noscript>        <img src="https://media.gettyimages.com/id/1335397197/photo/businesswoman-at-the-office.jpg?s=612x612&w=0&k=20&c=4GvqdS5Y_HL91XinzYhqBpBrcRii7E2OdATpObv3WvQ=" alt="FAQ_Stage.JPG">
  </noscript>    </figure>


<div class="content">
<div class="content-block custom-text-width-75">
  
          <h2>FAQ</h2>
  
  

    <div class="button-wrapper">
                                          <a class="button type-primary" href="/faq" target="_self" title="more">
          <span class="hidden-title">more</span>
          more
        </a>
      
              </div>
</div>
</div>
</li>

<li class="itm-stage id-9e6d8ecf-0d30-4348-9d79-a4169eeeabcc text-color-light" data-index="3" title="Facts &amp; Figures">
  <div class="gradient type-blue"></div>

  <figure class="media type-image" data-module="StageImage" data-media-src="https://corporates.db.com/contentAsset/raw-data/8be60dc3-635c-41f7-aaad-eac91c7ce6ba/fileAsset?language_id=1" data-img-alt="Facts_and_Figures_Stage.jpg" data-media-src-alternative="https://corporates.db.com/contentAsset/raw-data/8be60dc3-635c-41f7-aaad-eac91c7ce6ba/fileAsset?language_id=1">
  <noscript>        <img src="https://media.gettyimages.com/id/900792194/photo/cash-dispenser-with-smartphone.jpg?s=612x612&w=0&k=20&c=lfXb8yQ_nB7O7_hltgm9B1CqeobKlhlTsp5zmu0qlVI=" alt="Facts_and_Figures_Stage.jpg">
  </noscript>    </figure>


<div class="content">
<div class="content-block custom-text-width-75">
  
          <h2>Facts &amp; Figures</h2>
  
  

    <div class="button-wrapper">
                                          <a class="button type-primary" href="/facts-figures/" target="_self" title="more">
          <span class="hidden-title">more</span>
          more
        </a>
      
              </div>
</div>
</div>
</li>

<li class="itm-stage id-f90d6cf7-41e2-4e3c-8f39-2fdc4582b0fe text-color-light" data-index="4" title="Locations">
  <div class="gradient type-blue"></div>

  <figure class="media type-image" data-module="StageImage" data-media-src="https://corporates.db.com/contentAsset/raw-data/c847468f-e168-4667-b924-381c2c6f007b/fileAsset?language_id=1" data-img-alt="Locations_Stage.jpg" data-media-src-alternative="https://corporates.db.com/contentAsset/raw-data/c847468f-e168-4667-b924-381c2c6f007b/fileAsset?language_id=1">
  <noscript>        <img src="https://corporates.db.com/contentAsset/raw-data/c847468f-e168-4667-b924-381c2c6f007b/fileAsset?language_id=1" alt="Locations_Stage.jpg">
  </noscript>    </figure>


<div class="content">
<div class="content-block custom-text-width-75">
  
          <h2>Locations</h2>
  
  

    <div class="button-wrapper">
                                          <a class="button type-primary" href="/locations/" target="_self" title="more">
          <span class="hidden-title">more</span>
          more
        </a>
      
              </div>
</div>
</div>
</li>

<li class="itm-stage id-c6d1a23d-2c50-4636-aa1d-ef0f084f6202 text-color-light" data-index="5" title="Leading Figures">
  <div class="gradient type-blue"></div>

  <figure class="media type-image" data-module="StageImage" data-media-src="https://corporates.db.com/contentAsset/raw-data/9f1d5bc4-e7de-4dd4-8636-06fb92ec98d2/fileAsset?language_id=1" data-img-alt="Leading_Figures_Stage.jpg" data-media-src-alternative="https://corporates.db.com/contentAsset/raw-data/9f1d5bc4-e7de-4dd4-8636-06fb92ec98d2/fileAsset?language_id=1">
  <noscript>        <img src="https://corporates.db.com/contentAsset/raw-data/9f1d5bc4-e7de-4dd4-8636-06fb92ec98d2/fileAsset?language_id=1" alt="Leading_Figures_Stage.jpg">
  </noscript>    </figure>


<div class="content">
<div class="content-block custom-text-width-75">
  
          <h2>Leading Figures</h2>
  
  

    <div class="button-wrapper">
                                          <a class="button type-primary" href="/leading-figures/" target="_self" title="more">
          <span class="hidden-title">more</span>
          more
        </a>
      
              </div>
</div>
</div>
</li>

<li class="itm-stage id-bf1e7b77-c03b-4157-afd0-f89006071bba text-color-light" data-index="6" title="Jewish Employees">
  <div class="gradient type-blue"></div>

  <figure class="media type-image" data-module="StageImage" data-media-src="https://corporates.db.com/contentAsset/raw-data/7376fbcd-18b0-4a19-a851-04ed05ffc517/fileAsset?language_id=1" data-img-alt="Topics_Jewish_Employees_Stage.jpg" data-media-src-alternative="https://corporates.db.com/contentAsset/raw-data/7376fbcd-18b0-4a19-a851-04ed05ffc517/fileAsset?language_id=1">
  <noscript>        <img src="https://corporates.db.com/contentAsset/raw-data/7376fbcd-18b0-4a19-a851-04ed05ffc517/fileAsset?language_id=1" alt="Topics_Jewish_Employees_Stage.jpg">
  </noscript>    </figure>


<div class="content">
<div class="content-block custom-text-width-75">
  
          <h2>Jewish Employees</h2>
  
  

    <div class="button-wrapper">
                                          <a class="button type-primary" href="/topics/jewish-employees/?language_id=1" target="_self" title="more">
          <span class="hidden-title">more</span>
          more
        </a>
      
              </div>
</div>
</div>
</li>

<li class="itm-stage id-3faeb1eb-201c-4f75-aa1d-0ea8a46d095b text-color-light" data-index="7" title="Brought to Light">
  <div class="gradient type-blue"></div>

  <figure class="media type-image" data-module="StageImage" data-media-src="https://corporates.db.com/contentAsset/raw-data/84a56f2c-7c7f-49d3-bbb1-0135e4077f3a/fileAsset?language_id=1" data-img-alt="Topics_Brought_to_Light_Stage.jpg" data-media-src-alternative="https://corporates.db.com/contentAsset/raw-data/84a56f2c-7c7f-49d3-bbb1-0135e4077f3a/fileAsset?language_id=1">
  <noscript>        <img src="https://corporates.db.com/contentAsset/raw-data/84a56f2c-7c7f-49d3-bbb1-0135e4077f3a/fileAsset?language_id=1" alt="Topics_Brought_to_Light_Stage.jpg">
  </noscript>    </figure>


<div class="content">
<div class="content-block custom-text-width-75">
  
          <h2>Brought to Light</h2>
  
  

    <div class="button-wrapper">
                                          <a class="button type-primary" href="/topics/brought-to-light" target="_self" title="more">
          <span class="hidden-title">more</span>
          more
        </a>
      
              </div>
</div>
</div>
</li>

<li class="itm-stage id-5313c05b-5e13-47e6-845c-9db01ad2e3a4 text-color-light" data-index="8" title="Publications">
  <div class="gradient type-blue"></div>

  <figure class="media type-image" data-module="StageImage" data-media-src="https://corporates.db.com/contentAsset/raw-data/d8761792-4365-4a47-a0f6-03fe43496bcc/fileAsset?language_id=1" data-img-alt="Publications-new.jpg" data-media-src-alternative="https://corporates.db.com/contentAsset/raw-data/d8761792-4365-4a47-a0f6-03fe43496bcc/fileAsset?language_id=1">
  <noscript>        <img src="https://corporates.db.com/contentAsset/raw-data/d8761792-4365-4a47-a0f6-03fe43496bcc/fileAsset?language_id=1" alt="Publications-new.jpg">
  </noscript>    </figure>


<div class="content">
<div class="content-block custom-text-width-75">
  
          <h2>Publications</h2>
  
  

    <div class="button-wrapper">
                                          <a class="button type-primary" href="/publications/" target="_self" title="more">
          <span class="hidden-title">more</span>
          more
        </a>
      
              </div>
</div>
</div>
</li>

</ul>
</div>
</section>


                                                                                                

              </div>
                          </div>
        </div>
      </section>
              <section class="cms-row row-index-2">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                <section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-image-background has-image text-color-light mobile-background-color-default" id="id-7aba16d0-376b-40e0-8475-0d97b4b51938" data-module="TextBoxHeight" data-min-height="200">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
            <div class="media">
                                         <figure class="mod-img-loader" data-module="ImageLoader" data-img-ratio="18.108333333333334" data-img-src-small="https://corporates.db.com/contentAsset/image/8f58f883-7cb5-4dc8-9841-41d80ebe1446/fileAsset/filter/Resize,Jpeg/resize_w/640/ca8bccbd-4f6f-481a-96bd-f390a10e3cda.jpg" data-img-src-large="https://corporates.db.com/contentAsset/image/8f58f883-7cb5-4dc8-9841-41d80ebe1446/fileAsset/filter/Resize,Jpeg/resize_w/1280/ca8bccbd-4f6f-481a-96bd-f390a10e3cda.jpg" data-img-alt="About Us_eng_neu_1200.jpg" style="padding-bottom: 18.108333333333334%">
                <noscript>                    <img src="https://corporates.db.com/contentAsset/image/8f58f883-7cb5-4dc8-9841-41d80ebe1446/fileAsset/filter/Resize,Jpeg/resize_w/1280/ca8bccbd-4f6f-481a-96bd-f390a10e3cda.jpg" alt="About Us_eng_neu_1200.jpg" />
                </noscript>                    <div class="mod-indicator" role="progressbar" aria-label="Loading..."></div>                </figure>
                      </div>
      


      <div class="content-wrapper">


<div class="content">
          <h2>
              <a class="" href="/about-us/index?language_id=1" target="_self" title="more" data-filetype="none">
        <span class="hidden-title">more</span>
        About us
      </a>
            </h2>
  
  
  
          <a class="button type-icon icon--bg" href="/about-us/index?language_id=1" target="_self" title="more">
      <span class="hidden-title">more</span>
      more
    </a>
  
                    
    </div>

      </div>

</div>
</section>

<div class="mod-widget-background" data-module="MarginCollapse" data-inner-margin-top="off" data-inner-margin-bottom="off">
</div>
</section>

              </div>
                          </div>
        </div>
      </section>
              <section class="cms-row row-index-3">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                <section class="cms-container cnt-generic type-3 id-cc3a21e7-9888-49f5-ba71-923fef8a6bee" data-wt-area="content">



<section class="mod-text-box box-design  type-blue has-image mobile-background-color-default" id="id-940f136f-5b61-4c30-8899-e53d945ca194">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
            <div class="media">
                       <a class="img"  target="_self" title="Deutsche_Bank.jpg">
          <figure class="image-wrapper">
              <img src="https://media.gettyimages.com/id/1477880858/photo/african-american-woman-is-withdrawing-money-at-the-outdoor-atm.jpg?s=612x612&w=0&k=20&c=39ptNS_-ybVtFags72_6u4eAKbj5jDiyyAy4BSuPBgU=" srcset="images/22603f18-527f-4b48-91c0-5bdd0690ede9s.jpg 640w, images/22603f18-527f-4b48-91c0-5bdd0690ede9l.jpg 1280w" alt="Deutsche_Bank.jpg" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="600" height="608">
          </figure>
      </a>
          </div>
      


      <div class="content-wrapper">


<div class="content">
          <h2>
              <a class=""  target="_self" title="more" data-filetype="none">
        <span class="hidden-title">more</span>
        {{i.name}}<br>1870-2020
      </a>
            </h2>
  
  
  
          <a class="button type-primary" target="_self" title="more">
      <span class="hidden-title">more</span>
      more
    </a>
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-blue has-image mobile-background-color-default" id="id-76701f51-de44-4550-81b6-46b73eb2c016">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
            <div class="media">
                       <a class="img" class="//www.bankgeschichte.de/topics/brought-to-light?language_id=1#show-content-of-1927-modern-day-banking-business-(first-advertising-film-of-a-german-big-bank)" target="_self" title="Bigbank.jpg">
          <figure class="image-wrapper">
              <img src="https://media.gettyimages.com/id/1426366062/photo/senior-man-and-woman-at-business-reception-desk.jpg?s=612x612&w=0&k=20&c=SzWjrUjDWUFM4QJIdVCVZkBcqpQ7MMrfnfUk2-5ziH8="  alt="Bigbank.jpg" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="600" height="600">
          </figure>
      </a>
          </div>
      


      <div class="content-wrapper">


<div class="content">
          <h2>
              <a class="" class="//www.bankgeschichte.de/topics/brought-to-light?language_id=1#show-content-of-1927-modern-day-banking-business-(first-advertising-film-of-a-german-big-bank)" target="_self" title="more" data-filetype="none">
        <span class="hidden-title">more</span>
        "Modern banking business” <br> Advertising film from 1927
      </a>
            </h2>
  
  
  
          <a class="button type-primary" class="//www.bankgeschichte.de/topics/brought-to-light?language_id=1#show-content-of-1927-modern-day-banking-business-(first-advertising-film-of-a-german-big-bank)" target="_self" title="more">
      <span class="hidden-title">more</span>
      more
    </a>
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-blue has-image mobile-background-color-default" id="id-277d596e-f801-48c0-a2ba-80bb158923d8">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
            <div class="media">
                       <a class="img" href="/publications/books/locations?language_id=1" target="_self" title="London-e.jpg">
          <figure class="image-wrapper">
              <img src="images/62b65589-6434-4bb3-92ea-73e12069861dl.jpg" srcset="images/62b65589-6434-4bb3-92ea-73e12069861ds.jpg 640w, images/62b65589-6434-4bb3-92ea-73e12069861dl.jpg 1280w" alt="London-e.jpg" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="600" height="600">
          </figure>
      </a>
          </div>
      


      <div class="content-wrapper">


<div class="content">
          <h2>
              <a class="" href="/publications/books/locations?language_id=1" target="_self" title="more" data-filetype="none">
        <span class="hidden-title">more</span>
        Vibrant Connections - <br> 150 Years <br> of {{i.name}} <br> in the United Kingdom
      </a>
            </h2>
  
  
  
          <a class="button type-primary" href="/publications/books/locations?language_id=1" target="_self" title="more">
      <span class="hidden-title">more</span>
      more
    </a>
  
    </div>

      </div>

</div>
</section>
<div class="mod-widget-background" data-module="MarginCollapse" data-inner-margin-top="off" data-inner-margin-bottom="off">
</div>
</section>

              </div>
                          </div>
        </div>
      </section>
              <section class="cms-row row-index-4">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                <section class="cms-container cnt-generic type-3 id-cc3a21e7-9888-49f5-ba71-923fef8a6bee" data-wt-area="content">



<section class="mod-text-box box-design  type-image-background has-image mobile-background-color-default" id="id-fb8efd13-77fa-4ed1-b0f8-d6797625aea1" data-module="TextBoxHeight" data-min-height="400">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
            <div class="media">
                                         <figure class="mod-img-loader" data-module="ImageLoader" data-img-ratio="100" data-img-src-small="https://corporates.db.com/contentAsset/image/17b3dd8b-f2a8-4985-be78-9ca1fff19566/fileAsset/filter/Resize,Jpeg/resize_w/640/742111d6-bd2b-45bb-bb4b-c4e1958e6b9a.jpg" data-img-src-large="https://corporates.db.com/contentAsset/image/17b3dd8b-f2a8-4985-be78-9ca1fff19566/fileAsset/filter/Resize,Jpeg/resize_w/1280/742111d6-bd2b-45bb-bb4b-c4e1958e6b9a.jpg" data-img-alt="Teaser_Jewish Employees" style="padding-bottom: 100%">
                <noscript>                    <img src="https://corporates.db.com/contentAsset/image/17b3dd8b-f2a8-4985-be78-9ca1fff19566/fileAsset/filter/Resize,Jpeg/resize_w/1280/742111d6-bd2b-45bb-bb4b-c4e1958e6b9a.jpg" alt="Teaser_Jewish Employees" />
                </noscript>                    <div class="mod-indicator" role="progressbar" aria-label="Loading..."></div>                </figure>
                      </div>
      


      <div class="content-wrapper">


<div class="content">
          <h2>
              <a class="" href="/topics/jewish-employees/index?language_id=1" target="_self" title="more" data-filetype="none">
        <span class="hidden-title">more</span>
        Jewish Employees
      </a>
            </h2>
  
  
  
          <a class="button type-icon icon--bg" href="/topics/jewish-employees/index?language_id=1" target="_self" title="more">
      <span class="hidden-title">more</span>
      more
    </a>
  
                    
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-image-background has-image mobile-background-color-default" id="id-341f50fb-7b84-4684-94a8-6e03ef4e6089" data-module="TextBoxHeight" data-min-height="400">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
            <div class="media">
                                         <figure class="mod-img-loader" data-module="ImageLoader" data-img-ratio="100" data-img-src-small="https://corporates.db.com/contentAsset/image/ac391002-54c4-42b6-bfcb-e3fd218e7f70/fileAsset/filter/Resize,Jpeg/resize_w/640/035dba81-4ed8-496d-9340-b096e43b1c99.jpg" data-img-src-large="https://corporates.db.com/contentAsset/image/ac391002-54c4-42b6-bfcb-e3fd218e7f70/fileAsset/filter/Resize,Jpeg/resize_w/1280/035dba81-4ed8-496d-9340-b096e43b1c99.jpg" data-img-alt="Teaser_Annual_Reports.JPG" style="padding-bottom: 100%">
                <noscript>                    <img src="https://corporates.db.com/contentAsset/image/ac391002-54c4-42b6-bfcb-e3fd218e7f70/fileAsset/filter/Resize,Jpeg/resize_w/1280/035dba81-4ed8-496d-9340-b096e43b1c99.jpg" alt="Teaser_Annual_Reports.JPG" />
                </noscript>                    <div class="mod-indicator" role="progressbar" aria-label="Loading..."></div>                </figure>
                      </div>
      


      <div class="content-wrapper">


<div class="content">
          <h2>
              <a class="" href="/facts-figures/annual-reports?language_id=1" target="_self" title="more" data-filetype="none">
        <span class="hidden-title">more</span>
        Annual Reports
      </a>
            </h2>
  
  
  
          <a class="button type-icon icon--bg" href="/facts-figures/annual-reports?language_id=1" target="_self" title="more">
      <span class="hidden-title">more</span>
      more
    </a>
  
                    
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-image-background has-image mobile-background-color-default" id="id-ce6b219d-651f-4a88-a114-32daad189b2e" data-module="TextBoxHeight" data-min-height="400">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
            <div class="media">
                                         <figure class="mod-img-loader" data-module="ImageLoader" data-img-ratio="86.78414096916299" data-img-src-small="https://corporates.db.com/contentAsset/image/5eb6850f-9b6b-4add-a055-09830d36e885/fileAsset/filter/Resize,Jpeg/resize_w/640/20f39df9-d413-4d13-b1b9-ee287b7bc75d.jpg" data-img-src-large="https://corporates.db.com/contentAsset/image/5eb6850f-9b6b-4add-a055-09830d36e885/fileAsset/filter/Resize,Jpeg/resize_w/1280/20f39df9-d413-4d13-b1b9-ee287b7bc75d.jpg" data-img-alt="Teaser_Membership.JPG" style="padding-bottom: 86.78414096916299%">
                <noscript>                    <img src="https://corporates.db.com/contentAsset/image/5eb6850f-9b6b-4add-a055-09830d36e885/fileAsset/filter/Resize,Jpeg/resize_w/1280/20f39df9-d413-4d13-b1b9-ee287b7bc75d.jpg" alt="Teaser_Membership.JPG" />
                </noscript>                    <div class="mod-indicator" role="progressbar" aria-label="Loading..."></div>                </figure>
                      </div>
      


      <div class="content-wrapper">


<div class="content">
          <h2>
              <a class="" href="/membership?language_id=1" target="_self" title="more" data-filetype="none">
        <span class="hidden-title">more</span>
        Membership
      </a>
            </h2>
  
  
  
          <a class="button type-icon icon--bg" href="/membership?language_id=1" target="_self" title="more">
      <span class="hidden-title">more</span>
      more
    </a>
  
                    
    </div>

      </div>

</div>
</section>
<div class="mod-widget-background" data-module="MarginCollapse" data-inner-margin-top="off" data-inner-margin-bottom="off">
</div>
</section>

              </div>
                          </div>
        </div>
      </section>
              <section class="cms-row row-index-5">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                
              </div>
                          </div>
        </div>
      </section>
                <!--stopindex-->
</div>
{% endblock content %}