
{% extends "./base.html" %}
{% load static %}

{% block content %}

<div id="content" role="main" data-module="ContentAnimation">
  <!--startindex-->
                          <section class="cms-row row-index-1">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                

                                                                                                    
<section class="cms-container cnt-breadcrumb" data-wt-area="stage-breadcrumb">
<nav class="navigation-breadcrumb">
    <span class="breadcrumb-label">
                        You are here:
                </span>
    <ul>
        <li>
          <a title="Home" href="/">
            Home
          </a>
      </li>
                                        
            <li>
                                                                    Legal resources
                                                        </li>
                            </ul>
</nav>
</section>

              </div>
                          </div>
        </div>
      </section>
              <section class="cms-row row-index-2">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                <section class="cms-container cnt-page-headline id-6b12b0ee-ed45-4b31-9926-4e29f901a4b8" data-wt-area="content">
<section class="mod-page-headline id-4c7a6ee7-1c8e-4cd2-9562-59ec8a28ac18">
<h1>Legal resources</h1>  </section>
</section>
<section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-1282e1a4-95c9-4156-b2ac-547085a35048">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <p>Information contained in these websites is checked and updated by {{i.name}} AG with due diligence on a regular basis. This notwithstanding, data may become subject to changes during the intervening period. Therefore, {{i.name}} AG does not assume any liability or guarantee for the timeliness, accuracy and completeness of the information provided. This applies also to other websites that may be accessed through hyperlinks. {{i.name}} AG assumes no responsibility for the contents of websites that can be accessed through such links.</p>
<p>Further, {{i.name}} AG reserves the right to change or amend the information provided at any time and without prior notice.</p>
<p>Contents and structure of the {{i.name}} web sites are copyright protected. Reproduction of information or data content, in particular the use of text (whether in full or in part), pictures or graphics, requires the prior approval of <a href="https://www.db.com/imprint?language_id=1&amp;kid=imprint.redirect-en.legal-resources" title="Imprint of {{i.name}} AG">{{i.name}} AG</a>.</p>
    </div>
  
  
    </div>

      </div>

</div>
</section>

</section>

              </div>
                          </div>
        </div>
      </section>
              <section class="cms-row row-index-3">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100">
                <section class="cms-container cnt-generic type-4 id-dcea912e-6957-4aef-a516-e16a835471ab" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-33c8ae3f-3dfb-4757-b509-7becdf949872">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/allocation-policy">Allocation Policy</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-6188d36f-facf-4485-92b2-11888337a60e">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/best-execution-and-execution-quality-reports/index">Best Execution and Execution Quality Reports</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-b8e0d39b-70da-4f7f-ac9e-f6b309002ae7">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="https://www.db.com/bcm" title="Business Continuity Management Program">Business Continuity Programme</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-8f442622-c0ca-4443-b895-abe819ee9bdc">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/central-securities-depository-regulation">Central Securities Depository Regulation</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>
</section>
<section class="cms-container cnt-generic type-4 id-dcea912e-6957-4aef-a516-e16a835471ab" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-c62bfe97-2645-4863-8dbe-71142d1e10eb">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/codes-of-conduct">Codes of Conduct</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-f4ec1538-1099-43a8-8369-837cf5ec9e63">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/Conflicts-of-Interest-Policy" title="Conflicts of Interest Policy">Conflicts of Interest Policy</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-c653b490-d092-467d-baf7-bb66736181ce">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/corporate-and-regulatory-disclosures/index">Corporate and Regulatory Disclosures</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-65816e5a-e1a5-4434-8458-5cee5d8182cb">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/costs-and-charges-disclosure" title="Costs and Charges Disclosure">Costs and Charges Disclosure</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>
</section>
<section class="cms-container cnt-generic type-4 id-dcea912e-6957-4aef-a516-e16a835471ab" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-1aa5f59b-9632-4ecf-b139-d5216f3ddd8a">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/terms-of-business-disclosure-investor-compensation-and-depositor-guarantee-schemes">Deposit and investor protection</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-fb902bff-0cfc-41c8-86a4-005da93ad55e">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/dodd-frank-resource-centre/index">Dodd-Frank Resource Centre</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-5aa7b716-954d-466c-8edb-125e7b2886e2">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/dtc-id-confirmation-disclosures">DTC ID Confirmation Disclosures</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-4cbf7b19-df74-4674-943f-207faf99ec85">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/european-market-infrastructure-regulation/index" title="European Market Infrastructure Regulation (EMIR)">European Market Infrastructure Regulation</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>
</section>
<section class="cms-container cnt-generic type-4 id-dcea912e-6957-4aef-a516-e16a835471ab" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-c5aa936b-3083-4116-bc43-1ca46aeb893c">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="https://www.db.com/legal-resources/fixed-income-and-foreign-exchange-disclosures-for-customers-of-private-and-commercial-client-division-and-wealth-management?language_id=1" title="Fixed Income and Foreign Exchange Disclosures for customers of Private and Commercial Client Division and Wealth Management">Fixed Income and Foreign Exchange Disclosures</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-1b1b22d1-281e-4878-8eaa-c33de3605f31">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/fixed-income-disclosures">Fixed income disclosures</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-df1dbab9-ece5-4931-9f6c-b55b15131722">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/foreign-account-tax-compliance-act-faq">Foreign Account Tax Compliance Act – FAQ</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-a8873aeb-9c9e-418f-8cd8-38943cbc8139">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/foreign-exchange-disclosures-terms-and-conditions-of-fx-dealing/index">Foreign Exchange Disclosures (Terms and conditions of FX Dealing)</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>
</section>
<section class="cms-container cnt-generic type-4 id-dcea912e-6957-4aef-a516-e16a835471ab" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-6937582d-ccc4-46e0-92a6-459f88118151">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/ibor-transition/index">IBOR transition</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-3a244b23-fe29-487e-bf8d-243de96767be">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/information-about-the-firm">Information about the firm </a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-386ea397-3cc3-42af-9d91-0fdd151d04b8">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/information-on-bank-resolution-and-bail-in">Information on bank resolution and bail-in</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>
</section>
<section class="cms-container cnt-generic type-4 id-dcea912e-6957-4aef-a516-e16a835471ab" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-2f5cd080-80b3-44b6-98b4-423863f55700">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/information-on-safeguarding-of-client-assets">Information on safeguarding of client assets</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-4d92132d-f2be-475c-9c7d-2fa580164f93">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/kyc-aml-patriot-act">KYC/AML/Pat­riot Act</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-87125567-9c35-4e34-a592-9ee3d9eceb71">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/mifid-ii">MiFID II</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-7425b5d3-db2b-450b-a16b-42deba83c0e0">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/order-execution-policy">Order Execution Policy</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>
</section>
<section class="cms-container cnt-generic type-4 id-dcea912e-6957-4aef-a516-e16a835471ab" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-1ba0b8b0-437d-421e-8a28-4be1d71465f0">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="https://www.db.com/cookies" title="Privacy Notice">Privacy Notice</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-51775109-d770-47ee-b1c4-0f6ca3ceb2e9">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/order-routing">Order routing</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-fd480f8f-42a3-4e15-bd5f-0413fa8e86e6">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/prospectus-notice">Prospectus Notice</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>
</section>
<section class="cms-container cnt-generic type-4 id-dcea912e-6957-4aef-a516-e16a835471ab" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-619ac33e-772b-43a7-a0ac-49e8eb53bd14">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/report-misconduct">Report misconduct</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-408b353c-45b0-45c9-a359-6ea3299f762f">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/responsible-disclosure-process">Responsible Disclosure Process</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-68c66b71-0494-473d-87d2-0ac4aa3e9ca3">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/risk-Disclosures/index">Risk Disclosures</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-d62d96e1-c4b5-4610-bf46-bd45cbc69364">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/sales-and-trading-disclaimer">Sales and Trading Disclaimer</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-787985e2-ba01-4243-aff2-f90c28ecb45b">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/sustainable-finance-disclosure-regulation--sfdr">Sustainable Finance Disclosure Regulation (SFDR)</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>
</section>
<section class="cms-container cnt-generic type-4 id-dcea912e-6957-4aef-a516-e16a835471ab" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-bb7e8c93-c54f-4bc9-8338-5b3ccced25ae">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/swiss-financial-services-act--finsa" title="Swiss Financial Services Act (FinSA)">Swiss Financial Services Act (FinSA)</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-9b8b2ce4-3f1c-4896-9fb7-4e00c5b1b3b2">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/telephone-and-communications-recording">Telephone and communications recording</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-88a81dc8-4d68-47b1-a241-6eb4a4906196">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <h2><a href="/legal-resources/terms-of-business">Terms of Business</a></h2>
    </div>
  
  
    </div>

      </div>

</div>
</section>
</section>

              </div>
                          </div>
        </div>
      </section>
              <section class="cms-row row-index-4">
        <div class="cms-content-wrapper">
          <div class="cms-content">
                                                                  <div class="cms-column-100 no-content-margin">
                <section class="cms-container cnt-generic id-4fc00ae1-d9c9-4607-8c27-460239780c4e" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-f28e33ea-e987-4288-90e6-e54677d50ac1">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
          <h2>
              Related content
            </h2>
  
  
  
  
    </div>

      </div>

</div>
</section>
</section>
<section class="cms-container cnt-generic type-2 id-4c8fa7c0-60cf-454a-9ab1-4aea8f375b03" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-1c392361-0c57-4e57-b396-0bbc7760ef30">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <p><a href="https://country.db.com/austria/footer/rechtliche-hinweise?language_id=1&amp;kid=at-lr.inter-ghpen.lr1" title="Legal resources for Austria (in German)" target="_blank">Legal resources for Austria</a></p>
<p><a href="https://www.deutsche-bank.de/rechtliche-Hinweise" title="Legal resources for Germany (in German)" target="_blank">Legal resources for Germany</a></p>
<p><a href="https://country.db.com/italia/policies/contract-rules?language_id=1&amp;kid=it-lr.inter-ghpen.lr1" title="Legal resources for Italy" target="_blank">Legal resources for Italy</a></p>
<p><a href="https://country.db.com/japan/legal-resources/index?language_id=1&amp;kid=jp-lr.inter-ghpen.lr1" title="Legal resources for Japan" target="_blank">Legal resources for Japan</a></p>
<p><a href="https://country.db.com/luxembourg/legal-information?language_id=1&amp;kid=lu-lr.inter-ghpen.lr1" title="Legal resources for Luxembourg" target="_blank">Legal resources for Luxembourg</a></p>
<p><a href="https://country.db.com/singapore/legal-resources?language_id=1&amp;kid=sg-lr.inter-ghpen.lr1" title="Legal Resources for Singapore" target="_blank">Legal Resources for Singapore</a></p>
<p><a href="https://country.db.com/south-africa/legal-resources?language_id=1&amp;kid=sa-lr.inter-ghpen.lr1" title="Legal Resources for South Africa" target="_blank">Legal Resources for South Africa</a></p>
<p><a href="https://country.db.com/spain/aviso-legal?language_id=1&amp;kid=es-lr.inter-ghpen.lr1" title="Legal resources for Spain" target="_blank">Legal resources for Spain</a></p>
<p><a href="https://country.db.com/switzerland/legal-resources?language_id=1&amp;kid=ch-lr.inter-ghpen.lr1" title="Legal Resources for Switzerland" target="_blank">Legal Resources for Switzerland</a></p>
<p><a href="https://country.db.com/ukraine/legal-resources?language_id=1&amp;kid=ua-lr.inter-ghpen.lr1" title="Legal Resources for Ukraine" target="_blank">Legal Resources for Ukraine</a></p>
<p><a href="https://country.db.com/uk/legal-notice?language_id=1&amp;kid=uk-lr.inter-ghpen.lr1" title="Legal resources for the United Kingdom" target="_blank">Legal Resources for the United Kingdom</a></p>
<p><a href="https://country.db.com/usa/legal-resources?language_id=1&amp;kid=us-lr.inter-ghpen.lr1" title="Legal Resources for the United States of America" target="_blank">Legal Resources for the United States of America</a></p>
    </div>
  
  
    </div>

      </div>

</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-83791df4-1d67-4e48-8a7c-d20993ba7429">


<div class="wrapper custom-text-width-100 custom-text-position-left">



      <div class="content-wrapper">


<div class="content">
  
  
          <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
      <div aria-live="assertive"></div>
      <p><a href="https://corporates.db.com/legal-resources/" title="Legal resources for corporate clients and institutions" target="_blank">Legal resources for corporate clients and institutions</a></p>
<p><a href="https://www.dbresearch.com/servlet/reweb2.ReWEB?rwnode=RPS_EN-PROD$RPSHOME&amp;rwobj=RPS_DISCLAIMER.alias&amp;rwsite=RPS_EN-PROD" title="Legal resources for {{i.name}} Research" target="_blank">Legal resources for {{i.name}} Research</a></p>
<p><a href="https://dws.com/Legal-Resources/" title="Legal resources for DWS" target="_blank">Legal resources for DWS</a></p>
<p><a href="https://deutschewealth.com/content/deutschewealth/en/articles/legal_resources_americas.html" title="Legal resources for Wealth Management – Americas">Legal resources for Wealth Management – Americas</a></p>
<p><a href="https://deutschewealth.com/en/articles/regulatory_information.html" target="_blank" title="Wealth Management Regulatory Information (opens new window)">Wealth Management Regulatory Information</a></p>
    </div>
  
  
    </div>

      </div>

</div>
</section>
</section>

              </div>
                          </div>
        </div>
      </section>
                <!--stopindex-->
</div>

{% endblock content %}
