<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In {{site.name}}</title>
  <link rel="shortcut icon" href="{{site.logo}}" type="image/x-icon">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 flex flex-col justify-center items-center h-screen">
<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '246c8e87c43563a9068cb19af0f3995735830bf5';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
  <div class="bg-white shadow-md rounded-lg px-8 py-6 w-full max-w-md">
    <center> 

      <img src="{{site.logo}}" class="w-10 h-10 rounded-full" alt="">  
      <h1 class="text-2xl text-center font-bold mb-4"> <a href="/"> {{site.name}}</a> </h1> 
    </center>
    <h1 class="text-2xl text-center font-bold mb-1">Online Banking </h1>
    <p class="text-2xs font-lighter text-gray-400 text-center text-sm  mb-4">Sign In To manage Your Account </p>
    {% if messages %}
    
    {% for emailMessage in messages  %}
    <div class="w-full items-center text-center bg-red-200 p-2 mx-auto capitalize font-bold text-red-500" onclick="this.style.display='none'">{{emailMessage | safe}} 
        
  
    </div>
    {% endfor %}
    {% endif %}
    <form class="space-y-4" method="post">
      {% csrf_token %}
      <div>
        <label for="accountNumber" class="block text-sm font-medium text-gray-700">Account Number Or ID</label>
        <input type="text" name="acountname" required id="accountNumber" class="w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500">
      </div>
      <div>

        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input type="password" name="password" id="password" required class="w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500">
      </div>
      <div class="flex items-center justify-center w-full flex-col">
        <button type="submit" class="inline-flex items-center px-4 py-2 bg-blue-900 text-white w-1/2 items-center justify-center flex rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400">Sign In</button>
       <div class="w-full h-full flex justify-between p-2 ">
<a href="/register" class="text-red-400">Register </a>
         <a href="/forgotten" class="text-sm text-gray-500 hover:underline">Forgot password?</a>
       </div>
        <a  class="text-sm text-gray-500 hover:underline">All right reserved . {{site.name}} 2016</a>
      </div>
    </form>
  </div>
</body>
</html>
