
{% extends "./base.html" %}
{% load static %}

{% block content %}

<div id="content" role="main" data-module="ContentAnimation">
    <!--startindex-->
                            <section class="cms-row row-index-1">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  

                                                                                                          
<section class="cms-container cnt-breadcrumb" data-wt-area="stage-breadcrumb">
  <nav class="navigation-breadcrumb">
      <span class="breadcrumb-label">
                          You are here:
                  </span>
      <ul>
          <li>
            <a title="Home" href="/" class="wt-enabled">
              Home
            </a>
        </li>
                                          
              <li>
                                        <a title="What we do" href="/carrer" class="wt-enabled">
                                                  What we do
                                            </a>
                                  </li>
                                          
              <li>
                                        <a title="Products and services" href="c-future" class="wt-enabled">
                                                  Products and services
                                            </a>
                                  </li>
                                      <li>Reports</li>
                  </ul>
  </nav>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-2">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-page-headline id-6b12b0ee-ed45-4b31-9926-4e29f901a4b8" data-wt-area="content">
<section class="mod-page-headline id-21752cc5-cf38-4872-8cc4-78fe46cb592f">
<h2>Products and services</h2>  <h1>Reports</h1>  </section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-3">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-25">
                  <section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-838782d2-6125-4f2c-b044-0ed0219a4b46">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                                           <figure class="image-wrapper">
                  <img src="https://media.gettyimages.com/id/1181008199/photo/cheerful-businesswoman-meets-with-client.jpg?s=612x612&w=0&k=20&c=uI33Rn9CCdqq5KdJTux30b--lW5faBJRN7Il-bsGRaw=" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="780" height="500">
              </figure>
                        </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
    
    
      </div>

        </div>
  
</div>
</section>

</section>

                </div>
                                                                    <div class="cms-column-75">
                  <section class="cms-container cnt-generic id-07da7c23-bbc5-4cb8-9988-2c38693c0cd4" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-c632d0ba-c2b2-4c9d-b979-0749ecf25a08">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                Annual Report
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>The&nbsp;<a class="//investor-relations.db.com/files/documents/annual-reports/2024/Annual-Report-2023.pdf" target="_blank" title="{{i.name}} Annual Report (PDF) – opens in new window" class="has-icon wt-enabled" style="padding-left: 2.38em;"><svg class="filetype-icon" viewBox="0 0 28 28" preserveAspectRatio="xMinYMin meet">
  <g>
    <use xlink:href="#svgsymbol-filetype"></use>
    <text fill="#fff" fill-rule="evenodd" font-size="9" font-weight="bold">
      <tspan x="5.00" y="20">PDF   </tspan>
    </text>
  </g>
</svg>Annual Report</a>&nbsp;includes an overview of {{i.name}}, the management report with the compensation report, the bank’s&nbsp;audited consolidated financial statements,&nbsp;the corporate governance statement and supplementary information.</p>
<h3>Further documents:&nbsp;</h3>
<ul>
<li><a class="//investor-relations.db.com/files/documents/annual-reports/2024/Annual-Financial-Statements-of-Deutsche-Bank-AG-2023.pdf" target="_blank" title="Annual Financial Statements of {{i.name}} AG (PDF, opens new window)" class="has-icon wt-enabled" style="padding-left: 2.38em;"><svg class="filetype-icon" viewBox="0 0 28 28" preserveAspectRatio="xMinYMin meet">
  <g>
    <use xlink:href="#svgsymbol-filetype"></use>
    <text fill="#fff" fill-rule="evenodd" font-size="9" font-weight="bold">
      <tspan x="5.00" y="20">PDF   </tspan>
    </text>
  </g>
</svg>Annual Financial Statements</a>&nbsp;and</li>
<li><a class="//investor-relations.db.com/files/documents/quarterly-results/2023/FDS-Q4-2023-14032024.pdf?language_id=1" target="_blank" title="Financial Data Supplement Q4 / Full-year (PDF) – opens in new window" class="has-icon wt-enabled" style="padding-left: 2.38em;"><svg class="filetype-icon" viewBox="0 0 28 28" preserveAspectRatio="xMinYMin meet">
  <g>
    <use xlink:href="#svgsymbol-filetype"></use>
    <text fill="#fff" fill-rule="evenodd" font-size="9" font-weight="bold">
      <tspan x="5.00" y="20">PDF   </tspan>
    </text>
  </g>
</svg>Financial Data Supplement Q4 / Full-year</a></li>
</ul>
<p></p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-d6d0657e-39ff-47dc-b1ea-f2a51fc8ce94">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                Non-Financial Report
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>{{i.name}} released its <a class="//investor-relations.db.com/files/documents/annual-reports/2024/Non-Financial-Report-2023.pdf?language_id=1" target="_blank" title="Non-Financial Report (PDF) – opens in new window" class="has-icon wt-enabled" style="padding-left: 2.38em;"><svg class="filetype-icon" viewBox="0 0 28 28" preserveAspectRatio="xMinYMin meet">
  <g>
    <use xlink:href="#svgsymbol-filetype"></use>
    <text fill="#fff" fill-rule="evenodd" font-size="9" font-weight="bold">
      <tspan x="5.00" y="20">PDF   </tspan>
    </text>
  </g>
</svg>Non-Financial Report</a>, including the bank’s mandatory Non-Financial Statement. The report covers topics that the financial industry commonly refers to as environmental, social and governance (ESG).</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-c7529a73-da53-48e8-8cdb-87b0c81f4cfa">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Find further reports at&nbsp;<a class="//www.db.com/reports" title="{{i.name}} Reports" class="wt-enabled">www.db.com/reports</a>.</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-4">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-5">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  
                </div>
                            </div>
          </div>
        </section>
                  <!--stopindex-->
  </div>

  

{% endblock content %}