{% extends "./base.html" %}
{% load static %}

{% block content %}
<div id="content" role="main" data-module="ContentAnimation">
    <!--startindex-->
                            <section class="cms-row row-index-1">
          <div class="cms-content-wrapper type-full-width stage-no-margin-bottom">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-stage" data-wt-area="stage">
<div class="mod-stage type-450" data-module="Stage" data-text-toggle="Slide" data-text-button-prev="_prev" data-text-button-next="_next" data-text-toggle-description="slide to" data-text-button-prev-description="previous slide item" data-text-button-next-description="next slide item">
  <ul class="slider-wrapper" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transform: translateX(0%);">
<li class="itm-stage id-20afb4d7-1e95-40ed-9bf1-6e4423ad225e text-color-light" data-index="1" style="cursor: pointer;">
    <div class="gradient type-none"></div>

    <figure class="media type-image load-finished fill-height" data-module="StageImage" data-media-src="/contentAsset/raw-data/33d0a4ca-e91c-455a-9bc5-b0f80eacdef0/fileAsset?language_id=1" data-img-alt="DB_CSR_HWL_1920_450px_NATUR_Desktop.jpg" data-media-src-alternative="/contentAsset/raw-data/06194a9d-cb9f-4df3-add9-de9a3b0080d1/fileAsset?language_id=1">
    <noscript>        <img src="/contentAsset/raw-data/33d0a4ca-e91c-455a-9bc5-b0f80eacdef0/fileAsset?language_id=1" alt="DB_CSR_HWL_1920_450px_NATUR_Desktop.jpg">
    </noscript>    <img draggable="false" alt="DB_CSR_HWL_1920_450px_NATUR_Desktop.jpg" src="/contentAsset/raw-data/33d0a4ca-e91c-455a-9bc5-b0f80eacdef0/fileAsset?language_id=1"></figure>


<div class="content">
  <div class="content-block custom-text-width-75">
    
    
    

      <div class="button-wrapper">
                                <a class="button type-primary wt-enabled" class="//www.db.com/news/detail/20220914-how-we-live-deutsche-bank-launches-new-programme-for-environmental-impact" target="_self" title="">
            <span class="hidden-title"></span>
            More
          </a>
        
                </div>
  </div>
</div>
</li>

<li class="itm-stage id-23bdfa12-61ed-4b68-8e87-36bea266c5d6 text-color-light" data-index="2" title="Welcome to the PalaisPopulaire" style="cursor: pointer;">
    <div class="gradient type-blue"></div>

    <figure class="media type-image load-finished fill-height" data-module="StageImage" data-media-src="/contentAsset/raw-data/4a9a5418-c2c7-48be-9694-bbb8419025bc/fileAsset?language_id=1" data-img-alt="palais-populaire" data-media-src-alternative="/contentAsset/raw-data/06194a9d-cb9f-4df3-add9-de9a3b0080d1/fileAsset?language_id=1">
    <noscript>        <img src="/contentAsset/raw-data/4a9a5418-c2c7-48be-9694-bbb8419025bc/fileAsset?language_id=1" alt="palais-populaire">
    </noscript>    <img draggable="false" alt="palais-populaire" src="/contentAsset/raw-data/4a9a5418-c2c7-48be-9694-bbb8419025bc/fileAsset?language_id=1"></figure>


<div class="content">
  <div class="content-block custom-text-width-50">
            <h3>Unter den Linden 5, Berlin</h3>
    
            <h2>Welcome to the PalaisPopulaire</h2>
    
    

      <div class="button-wrapper">
                                            <a class="button type-primary wt-enabled" class="//db-palaispopulaire.com/" target="_blank" title="PalaisPopulaire (opens new window)">
            <span class="hidden-title">PalaisPopulaire (opens new window)</span>
            a unique space for art and culture
          </a>
        
                </div>
  </div>
</div>
</li>

  </ul>
<div class="itm-navigation-buttons"><button class="button type-icononly-bg variant-left wt-enabled inactive" name="_prev" tabindex="-1">
  <span class="hidden-title">previous slide item</span><svg focusable="false"><use xlink:href="#svgsymbol-arrow-normal"></use></svg></button><button class="button type-icononly-bg variant-right wt-enabled active" name="_next">
  <span class="hidden-title">next slide item</span><svg focusable="false"><use xlink:href="#svgsymbol-arrow-normal"></use></svg></button><div class="itm-navigation-mobile"><span class="counter">1 / 2</span><span class="swipe-icon"><svg class="icon"><use xlink:href="#svgsymbol-swipe"></use></svg></span></div></div></div>
</section>


                                                                                                          
<section class="cms-container cnt-breadcrumb" data-wt-area="stage-breadcrumb">
  <nav class="navigation-breadcrumb">
      <span class="breadcrumb-label">
                          You are here:
                  </span>
      <ul>
          <li>
            <a title="Home" href="/" class="wt-enabled">
              Home
            </a>
        </li>
                                          
              <li>
                                        <a title="What we do" href="/what-we-do" class="wt-enabled">
                                                  What we do
                                            </a>
                                  </li>
                                          
              <li>
                                                                      Responsibility
                                                          </li>
                              </ul>
  </nav>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-2">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-generic type-3 id-cc3a21e7-9888-49f5-ba71-923fef8a6bee" data-wt-area="content">



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-87293857-ce1c-4f22-9614-72198d70b783">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" class="//www.db.com/what-we-do/responsibility/sustainability/index?language_id=1" target="_self" title="Sustainability - Water">
            <figure class="image-wrapper">
                <img src="/contentAsset/image/e0c6c954-86c7-4d73-a185-3029dd0555be/fileAsset/filter/Resize,Jpeg/resize_w/1280/3acbb153-058a-4943-bfee-75457a53843cl.jpg" srcset="/contentAsset/image/e0c6c954-86c7-4d73-a185-3029dd0555be/fileAsset/filter/Resize,Jpeg/resize_w/640/3acbb153-058a-4943-bfee-75457a53843cs.jpg 640w,
                             /contentAsset/image/e0c6c954-86c7-4d73-a185-3029dd0555be/fileAsset/filter/Resize,Jpeg/resize_w/1280/3acbb153-058a-4943-bfee-75457a53843cl.jpg 1280w" alt="Sustainability - Water" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="392" height="261">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled" class="//www.db.com/what-we-do/responsibility/sustainability/index?language_id=1" target="_self" title="Sustainability" data-filetype="none">
          <span class="hidden-title">Sustainability</span>
          Sustainability
        </a>
              </h2>
    
    
    
    
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-0e0c5839-7cb7-43a0-8948-199ef50c2153">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" class="//www.db.com/what-we-do/responsibility/society/index?language_id=1" target="_self" title="society--sparrow-school--Gesellschaft">
            <figure class="image-wrapper">
                <img src="/contentAsset/image/686aaf30-77be-4e05-9815-f87da3b1bb26/fileAsset/filter/Resize,Jpeg/resize_w/1280/a8632030-cf06-43ed-b1cb-08c21b49efc4l.jpg" srcset="/contentAsset/image/686aaf30-77be-4e05-9815-f87da3b1bb26/fileAsset/filter/Resize,Jpeg/resize_w/640/a8632030-cf06-43ed-b1cb-08c21b49efc4s.jpg 640w,
                             /contentAsset/image/686aaf30-77be-4e05-9815-f87da3b1bb26/fileAsset/filter/Resize,Jpeg/resize_w/1280/a8632030-cf06-43ed-b1cb-08c21b49efc4l.jpg 1280w" alt="society--sparrow-school--Gesellschaft" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="392" height="261">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled" class="//www.db.com/what-we-do/responsibility/society/index?language_id=1" target="_self" title="Society" data-filetype="none">
          <span class="hidden-title">Society</span>
          Society
        </a>
              </h2>
    
    
    
    
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-3039cf42-fea2-49f2-9107-7ae4bc2413fe">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" class="//www.db.com/what-we-do/responsibility/art-culture-sports/index?language_id=1" target="_self" title="Berliner Philharmoniker">
            <figure class="image-wrapper">
                <img src="/contentAsset/image/3b0c918f-a256-4f8c-9268-8dc62888bbbb/fileAsset/filter/Resize,Jpeg/resize_w/1280/174b3986-aaa9-4461-9275-8c9aa8deab90l.jpg" srcset="/contentAsset/image/3b0c918f-a256-4f8c-9268-8dc62888bbbb/fileAsset/filter/Resize,Jpeg/resize_w/640/174b3986-aaa9-4461-9275-8c9aa8deab90s.jpg 640w,
                             /contentAsset/image/3b0c918f-a256-4f8c-9268-8dc62888bbbb/fileAsset/filter/Resize,Jpeg/resize_w/1280/174b3986-aaa9-4461-9275-8c9aa8deab90l.jpg 1280w" alt="Berliner Philharmoniker" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="620" height="427">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled" class="//www.db.com/what-we-do/responsibility/art-culture-sports/index?language_id=1" target="_self" title="Art, Culture &amp; Sports" data-filetype="none">
          <span class="hidden-title">Art, Culture &amp; Sports</span>
          Art, Culture &amp; Sports
        </a>
              </h2>
    
    
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-3">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-75">
                  <section class="cms-container cnt-generic id-daeeadda-963b-4e1d-959a-29d3bc96148f" data-wt-area="content">




                                  







<div class="mod-widget-news filter-enabled type-default " data-wt-area="news-widget">
  
  <div class="widget-news-wrapper">
      <div class="news-entry-wrapper">
                        <div class="widget-news-entry  ">

                              
              
                  <div class="news-entry-info">
                      <div class="news-meta">
                          <ul class="meta-type">
                                                                  <li data-value="news">
                                      <a href="#" title="News" class="wt-enabled">
                                      <span class="hidden-title">filter news by News</span>
                                      News
                                      </a>
                                  </li>
                                                          </ul>
                          <div class="news-date">
                              July 3, 2024
                          </div>
                                                      
                                                      
                                                  </div>

                      
                      <div class="news-headline">
                          <a href="/news/detail/20240703-democracy-and-tolerance-a-shared-path?language_id=1" title="Democracy and tolerance: a shared path" target="_self" class="wt-enabled">
                              <span class="hidden-title">Democracy and tolerance: a shared path</span>
                                  <h4> Democracy and tolerance: a shared path </h4>
                          </a>

                                              </div>
                                          </div>

              </div>
                          <div class="widget-news-entry  ">

                              
              
                  <div class="news-entry-info">
                      <div class="news-meta">
                          <ul class="meta-type">
                                                                  <li data-value="news">
                                      <a href="#" title="News" class="wt-enabled">
                                      <span class="hidden-title">filter news by News</span>
                                      News
                                      </a>
                                  </li>
                                                          </ul>
                          <div class="news-date">
                              June 5, 2024
                          </div>
                                                      
                                                      
                                                  </div>

                      
                      <div class="news-headline">
                          <a href="/news/detail/20240605--volunteering-is-democracy-in-action?language_id=1" title="Volunteering is democracy in action" target="_self" class="wt-enabled">
                              <span class="hidden-title">Volunteering is democracy in action</span>
                                  <h4> Volunteering is democracy in action </h4>
                          </a>

                                              </div>
                                          </div>

              </div>
                          <div class="widget-news-entry  ">

                              
              
                  <div class="news-entry-info">
                      <div class="news-meta">
                          <ul class="meta-type">
                                                                  <li data-value="news">
                                      <a href="#" title="News" class="wt-enabled">
                                      <span class="hidden-title">filter news by News</span>
                                      News
                                      </a>
                                  </li>
                                                          </ul>
                          <div class="news-date">
                              May 21, 2024
                          </div>
                                                      
                                                      
                                                  </div>

                      
                      <div class="news-headline">
                          <a href="/news/detail/20240521-raising-diverse-voices-in-the-art-world-with-frieze?language_id=1" title="Raising Diverse Voices in the Art World with Frieze" target="_self" class="wt-enabled">
                              <span class="hidden-title">Raising Diverse Voices in the Art World with Frieze</span>
                                  <h4> Raising Diverse Voices in the Art World with Frieze </h4>
                          </a>

                                              </div>
                                          </div>

              </div>
                          <div class="widget-news-entry  ">

                              
              
                  <div class="news-entry-info">
                      <div class="news-meta">
                          <ul class="meta-type">
                                                                  <li data-value="mediaRelease">
                                      <a href="#" title="Media Release" class="wt-enabled">
                                      <span class="hidden-title">filter news by Media Release</span>
                                      Media Release
                                      </a>
                                  </li>
                                                          </ul>
                          <div class="news-date">
                              May 17, 2024
                          </div>
                                                      
                                                      
                                                  </div>

                      
                      <div class="news-headline">
                          <a href="/news/detail/20240517-european-investment-bank-and-deutsche-bank-launch-mortgage-programme-for-climate-friendly-housing-and-energy-efficient-home-modernisation-in-germany?language_id=1" title="European Investment Bank and {{i.name}} launch mortgage programme for climate-friendly housing and energy-efficient home modernisation in Germany" target="_self" class="wt-enabled">
                              <span class="hidden-title">European Investment Bank and {{i.name}} launch mortgage programme for climate-friendly housing and energy-efficient home modernisation in Germany</span>
                                  <h4> European Investment Bank and {{i.name}} launch mortgage programme for climate-friendly housing and energy-efficient home modernisation in Germany </h4>
                          </a>

                                              </div>
                                          </div>

              </div>
                                               <div class="widget-news-button">
                      <a class="//www.db.com/media/archive/responsibility?language_id=1" class="button type-primary wt-enabled" title="all responsibility news">
                          <span class="hidden-title">all responsibility news</span>
                          all responsibility news
                      </a>
                   </div>
                      </div>
  </div>
</div>

</section>

                </div>
                                                                    <div class="cms-column-25">
                  <section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-dark-blue has-image mobile-background-color-default" id="id-6ae832d6-93c4-4370-9897-c7add718d292">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" class="//www.db.com/cr/publications" target="_self" title="{{i.name}} pencils">
            <figure class="image-wrapper">
                <img src="/contentAsset/image/06d470e9-a719-43cb-9fc0-50caa3bc48ad/fileAsset/filter/Resize,Jpeg/resize_w/1280/f45c1430-e93c-4eb8-8ef3-a727551434d5l.jpg" srcset="/contentAsset/image/06d470e9-a719-43cb-9fc0-50caa3bc48ad/fileAsset/filter/Resize,Jpeg/resize_w/640/f45c1430-e93c-4eb8-8ef3-a727551434d5s.jpg 640w,
                             /contentAsset/image/06d470e9-a719-43cb-9fc0-50caa3bc48ad/fileAsset/filter/Resize,Jpeg/resize_w/1280/f45c1430-e93c-4eb8-8ef3-a727551434d5l.jpg 1280w" alt="{{i.name}} pencils" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="392" height="273">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                <a class="wt-enabled" class="//www.db.com/cr/publications" target="_self" title="Reports, studies and publications" data-filetype="none">
          <span class="hidden-title">Reports, studies and publications</span>
          Reports &amp; Publications
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>CSR-related <a class="//www.db.com/cr/publications" title="CSR-related reports, studies and publications" class="wt-enabled">reports, brochures and general information</a> for download.</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>

</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-4">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-5">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-generic type-4 id-dcea912e-6957-4aef-a516-e16a835471ab" data-wt-area="content">
<style>
.id-17eda7aa-1ef4-4518-9d4c-6bffc289c64b .content, .id-20afb4d7-1e95-40ed-9bf1-6e4423ad225e .content, .id-275787d3-708c-46b6-a364-046e5167db02 .content, .id-68db36c5-6bb6-4f8b-be6e-f6a7a59dff0a .content, .id-7add95f0-d822-4955-8200-6f69b11c9745 .content, .id-ad5eb2db-5b97-437c-8161-2c351956f411 .content {
  justify-content: flex-end !important;
 padding-bottom: 50px;
}
</style></section>

                </div>
                            </div>
          </div>
        </section>
                  <!--stopindex-->
  </div>    
{% endblock content %}