{% extends "./base.html" %}
{% load static %}

{% block content %}
<div id="content" role="main" data-module="ContentAnimation">
    <!--startindex-->
                            <section class="cms-row row-index-1">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  

                                                                                                              
<section class="cms-container cnt-breadcrumb" data-wt-area="stage-breadcrumb">
  <nav class="navigation-breadcrumb">
      <span class="breadcrumb-label">
                          You are here:
                  </span>
      <ul>
          <li>
            <a title="Home" href="/" class="wt-enabled">
              Home
            </a>
        </li>
                                          
              <li>
                                        <a title="What Next" href="/what-next" class="wt-enabled">
                                                  What Next
                                            </a>
                                  </li>
                                          
              <li>
                                        <a title="Digital Disruption" href="/what-next/digital-disruption" class="wt-enabled">
                                                  Digital Disruption
                                            </a>
                                  </li>
                                          
              <li>
                                                                      After the hype – what’s next for the metaverse?
                                                          </li>
                              </ul>
  </nav>
</section>
<section class="cms-container cnt-hero-headline id-0ae67ba9-2b90-407f-bf0b-7a6ebfa992ca" data-wt-area="content">
<section class="mod-hero-headline" lang="en">
<h2>Dossier #13: Changing our lives?</h2>  <h1>After the hype – what’s next for the metaverse?</h1>  </section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-2">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-7dbb17bd-80fe-4082-b0ea-421589c2649b">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/digital-disruption/Metaverse/intro/index?language_id=1" target="_self" title="Metaverse woman with VR glasses">
            <figure class="image-wrapper">
                <img src="https://corporates.db.com/contentAsset/image/9a949f51-7b21-48ec-8252-2f4025d44e08/fileAsset/filter/Resize,Jpeg/resize_w/1280/726da563-d3e2-4c15-900c-9866e5aa03d2l.jpg" srcset="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/9a949f51-7b21-48ec-8252-2f4025d44e08/fileAsset/filter/Resize,Jpeg/resize_w/640/726da563-d3e2-4c15-900c-9866e5aa03d2s.jpg 640w,
                             " alt="Metaverse woman with VR glasses" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="1280" height="640">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
    
    
      </div>

        </div>
  
</div>
</section>

</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-3">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-83 cms-offset-1">
                  <section class="cms-container cnt-container-headline id-1307cf0c-c506-4c32-ba6c-d266d8cfc720" data-wt-area="content">
<h2 class="container-headline id-cbeaff0c-aa42-4028-a4c0-faa43134fd59">When Facebook changed its name to Meta and presented its big plans for the metaverse to a major media buzz, many believed the technology would radically change our lives. Now the dust has settled, what comes next?</h2></section>
<section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-1d32e8fd-730f-4215-8c73-23eda950c778">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
    
            <a class="button type-primary wt-enabled" href="/what-next/digital-disruption/Metaverse/intro/index?language_id=1" target="_self" title="After the hype - what’s next for the metaverse?">
        <span class="hidden-title">After the hype - what’s next for the metaverse?</span>
        Metaverse in soccer, arts and medicine
      </a>
    
      </div>

        </div>
  
</div>
</section>

</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-4">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-5">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-50">
                  <section class="cms-container cnt-generic id-daeeadda-963b-4e1d-959a-29d3bc96148f" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-2c54ebd0-c242-4d67-9f5c-d3a22ca3df26">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/digital-disruption/Metaverse/democracy-Demokratie/index?language_id=1" target="_self" title="Professor Fred Turner Stanford">
            <figure class="image-wrapper">
                <img src="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/811b3a6e-5fb1-4499-9974-ba48eb0e93b0/fileAsset/filter/Resize,Jpeg/resize_w/1280/885bf96c-4695-45da-98da-81cbffdcaccfl.jpg" srcset="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/811b3a6e-5fb1-4499-9974-ba48eb0e93b0/fileAsset/filter/Resize,Jpeg/resize_w/640/885bf96c-4695-45da-98da-81cbffdcaccfs.jpg 640w,
                             https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/811b3a6e-5fb1-4499-9974-ba48eb0e93b0/fileAsset/filter/Resize,Jpeg/resize_w/1280/885bf96c-4695-45da-98da-81cbffdcaccfl.jpg 1280w" alt="Professor Fred Turner Stanford" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="480" height="480">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
        <h3>Digital Disruption | Opinion</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/digital-disruption/Metaverse/democracy-Demokratie/index?language_id=1" target="_self" title="The metaverse – the downfall of democracy?" data-filetype="none">
          <span class="hidden-title">The metaverse – the downfall of democracy?</span>
          The metaverse – the downfall of democracy?
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>For Fred Turner from Stanford University, "the metaverse" is the invention of a marketing department. Why we should take our freedom rights very seriously also in the digital sphere.<a href="/what-next/digital-disruption/Metaverse/democracy-Demokratie/index" class="wt-enabled"></a></p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/digital-disruption/Metaverse/democracy-Demokratie/index?language_id=1" target="_self" title="The metaverse – the downfall of democracy?">
        <span class="hidden-title">The metaverse – the downfall of democracy?</span>
        Who controls the virtual worlds?
      </a>
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                                                                    <div class="cms-column-50">
                  <section class="cms-container cnt-generic id-fbce9a36-179a-45e4-bf6e-d0133dbcadeb" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-5cf31415-3f03-42d6-b062-8df5e235814b">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/digital-disruption/Metaverse/inclusivity-Inklusivitaet/index?language_id=1" target="_self" title="Elizabeth Hyman XRA association">
            <figure class="image-wrapper">
                <img src="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/fd17c460-66dd-4f3b-b1d0-77ed1345486e/fileAsset/filter/Resize,Jpeg/resize_w/1280/2ccc9290-12fe-47c8-bd28-fe4812d06ea8l.jpg" srcset="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/fd17c460-66dd-4f3b-b1d0-77ed1345486e/fileAsset/filter/Resize,Jpeg/resize_w/640/2ccc9290-12fe-47c8-bd28-fe4812d06ea8s.jpg 640w,
                             https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/fd17c460-66dd-4f3b-b1d0-77ed1345486e/fileAsset/filter/Resize,Jpeg/resize_w/1280/2ccc9290-12fe-47c8-bd28-fe4812d06ea8l.jpg 1280w" alt="Elizabeth Hyman XRA association" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="666" height="666">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
        <h3>Digital Disruption | Opinion</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/digital-disruption/Metaverse/inclusivity-Inklusivitaet/index?language_id=1" target="_self" title="Inclusivity must be at the forefront of metaverse development" data-filetype="none">
          <span class="hidden-title">Inclusivity must be at the forefront of metaverse development</span>
          “Inclusivity must be at the forefront of metaverse development”
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>The metaverse represents a paradigm shift in how we interact with digital content and each other, says Liz Hyman, CEO of the XR Association, .&nbsp;</p>
<p></p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/digital-disruption/Metaverse/inclusivity-Inklusivitaet/index?language_id=1" target="_self" title="Inclusivity must be at the forefront of metaverse development">
        <span class="hidden-title">Inclusivity must be at the forefront of metaverse development</span>
        Inclusivity and the metaverse
      </a>
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-6 type-neutral-grey">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-83 cms-offset-1">
                  <section class="cms-container cnt-generic id-5b873063-1e3b-487b-9b88-81f3cf6b46e3" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-over-headline mobile-background-color-default" id="id-ee8f3c8b-8ddc-44f3-9fd9-6cebb826a853">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
        <h3>Digital Disruption | Video Story</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/digital-disruption/Metaverse/Manchester-United/index?language_id=1" target="_self" title="How the metaverse could boost Manchester United’s revenues" data-filetype="none">
          <span class="hidden-title">How the metaverse could boost Manchester United’s revenues</span>
          How the metaverse could boost Manchester United’s revenues
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Sabih Behzad, {{i.name}}’s Head of Digital Assets &amp; Currencies Transformation, explains how his football team could make money in the metaverse.</p>
<p></p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/digital-disruption/Metaverse/Manchester-United/index?language_id=1" target="_self" title="How the metaverse could boost Manchester United’s revenues">
        <span class="hidden-title">How the metaverse could boost Manchester United’s revenues</span>
        Soccer and the metaverse
      </a>
    
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-e8dea8b6-da01-466e-84e1-228deff04754">


<div class="wrapper type-video custom-text-width-100 custom-text-position-left">
  
  
              <div class="media">
     
               <a class="button type-video wt-enabled" data-module="ModalLayerLink" data-media-link-id="FTBBC-EvqE4_n12rUbggb9" data-media-link-type="movingImage" title="Play">
                          <figure class="image-wrapper">
                  <img src="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/a13279f5-6054-4287-aa97-7cdbef4a11b0/fileAsset/filter/Resize,Jpeg/resize_w/1280/4b315fbc-3cf7-47e5-a5f1-60017a0f9a98l.jpg" srcset="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/a13279f5-6054-4287-aa97-7cdbef4a11b0/fileAsset/filter/Resize,Jpeg/resize_w/640/4b315fbc-3cf7-47e5-a5f1-60017a0f9a98s.jpg 640w,
                               https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/a13279f5-6054-4287-aa97-7cdbef4a11b0/fileAsset/filter/Resize,Jpeg/resize_w/1280/4b315fbc-3cf7-47e5-a5f1-60017a0f9a98l.jpg 1280w" alt="Sabih Behzad explaining" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="1920" height="1080">
              </figure>
                                  <button class="button type-icon icon--left icon--bg wt-enabled">
                <svg focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgsymbol-play"></use>
                </svg>
                 Play                   <span class="hidden-title">Video</span>
             </button>
                  </a>
      </div>
            
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                What has soccer got to do with the metaverse? Explained in 99 seconds
              </h2>
    
    
    
    
      </div>

        </div>
  
</div>
</section>
  <div class="mod-widget-background" data-module="RowBackground" data-bg-color="neutral-grey">
  </div>

</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-7">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-50 cms-offset-1">
                  <section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-align-left has-image mobile-background-color-default" id="id-4bc08ee0-fef2-4763-9957-48ec669945fc">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/digital-disruption/Metaverse/art-Kunst/index?language_id=1" target="_self" title="LuYang DOKU Heaven 2022">
            <figure class="image-wrapper">
                <img src="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/68ba9bf1-e09d-46f6-b86d-f9d782114292/fileAsset/filter/Resize,Jpeg/resize_w/1280/d44a82fb-1fdd-4aa7-a053-81933e1f100fl.jpg" srcset="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/68ba9bf1-e09d-46f6-b86d-f9d782114292/fileAsset/filter/Resize,Jpeg/resize_w/640/d44a82fb-1fdd-4aa7-a053-81933e1f100fs.jpg 640w,
                             https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/68ba9bf1-e09d-46f6-b86d-f9d782114292/fileAsset/filter/Resize,Jpeg/resize_w/1280/d44a82fb-1fdd-4aa7-a053-81933e1f100fl.jpg 1280w" alt="LuYang DOKU Heaven 2022" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="880" height="881">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p class="caption">LuYang,&nbsp;DOKU Heaven, 2022,&nbsp;From the series Bardo #1, © LuYang, courtesy the artist and Société, Berlin, {{i.name}} Collection</p>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>

</section>

                </div>
                                                                    <div class="cms-column-33">
                  <section class="cms-container cnt-generic id-e69846d9-f1de-486a-9f6f-489f82d18e9b" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-over-headline mobile-background-color-default" id="id-a6003344-805e-4c9e-a857-96518cb46adf">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
        <h3>Digital Disruption | Insights</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/digital-disruption/Metaverse/art-Kunst/index?language_id=1" target="_self" title="Is the future of art in the metaverse?" data-filetype="none">
          <span class="hidden-title">Is the future of art in the metaverse?</span>
          Is the future of art in the metaverse?
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>In the realm of contemporary art, Cao Fei and LuYang have emerged as pioneers when it comes to pushing the boundaries of creative exploration and engaging with the digital age.</p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/digital-disruption/Metaverse/art-Kunst/index?language_id=1" target="_self" title="Is the future of art in the metaverse?">
        <span class="hidden-title">Is the future of art in the metaverse?</span>
        The future of art
      </a>
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-8">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-41 cms-offset-1">
                  <section class="cms-container cnt-generic id-40fb0683-9a02-498a-824b-ed5d450d2e0b" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-9720fede-2e5b-452d-ba56-bab556cec17c">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/digital-disruption/Metaverse/banking/index?language_id=1" target="_self" title="Lounge {{i.name}}">
            <figure class="image-wrapper">
                <img src="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/36a81652-f2f3-4344-9139-9ed4fe13db6a/fileAsset/filter/Resize,Jpeg/resize_w/1280/5a104f7d-4209-4346-9662-11304a4b6144l.jpg" srcset="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/36a81652-f2f3-4344-9139-9ed4fe13db6a/fileAsset/filter/Resize,Jpeg/resize_w/640/5a104f7d-4209-4346-9662-11304a4b6144s.jpg 640w,
                             https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/36a81652-f2f3-4344-9139-9ed4fe13db6a/fileAsset/filter/Resize,Jpeg/resize_w/1280/5a104f7d-4209-4346-9662-11304a4b6144l.jpg 1280w" alt="Lounge {{i.name}}" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="820" height="820">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
        <h3>Digital Disruption | Outlook</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/digital-disruption/Metaverse/banking/index?language_id=1" target="_self" title="Why the metaverse could change banking" data-filetype="none">
          <span class="hidden-title">Why the metaverse could change banking</span>
          Why the metaverse could change banking
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>The metaverse is enabling entirely new business models. Companies are spreading out into the virtual worlds. What does that mean for banks?</p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/digital-disruption/Metaverse/banking/index?language_id=1" target="_self" title="Why the metaverse could change banking">
        <span class="hidden-title">Why the metaverse could change banking</span>
        Banking in the metaverse?
      </a>
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                                                                    <div class="cms-column-41">
                  <section class="cms-container cnt-generic id-9cbe86d3-04f8-4149-b01b-4baa5b26c5cd" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-4f8b72b2-add8-483f-8260-3b30096adcac">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/digital-disruption/Metaverse/investing-investieren/index?language_id=1" target="_self" title="Metaverse VR glasses">
            <figure class="image-wrapper">
                <img src="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/1ab0673b-3a54-4541-ac8c-5f26448846bb/fileAsset/filter/Resize,Jpeg/resize_w/1280/e404a461-8c92-4a97-a73f-fab0adaf3026l.jpg" srcset="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/1ab0673b-3a54-4541-ac8c-5f26448846bb/fileAsset/filter/Resize,Jpeg/resize_w/640/e404a461-8c92-4a97-a73f-fab0adaf3026s.jpg 640w,
                             https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/1ab0673b-3a54-4541-ac8c-5f26448846bb/fileAsset/filter/Resize,Jpeg/resize_w/1280/e404a461-8c92-4a97-a73f-fab0adaf3026l.jpg 1280w" alt="Metaverse VR glasses" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="1280" height="1280">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
        <h3>Digital Disruption | Outlook</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/digital-disruption/Metaverse/investing-investieren/index?language_id=1" target="_self" title="Metaverse market – an investor perspective" data-filetype="none">
          <span class="hidden-title">Metaverse market – an investor perspective</span>
          Metaverse market – an investor perspective
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>DWS fund manager Manuel Mühl launched a metaverse fund at the beginning of 2023 and is convinced of the long-term growth prospects.&nbsp;Developments in the industry prove him right.</p>
<p></p>
<p></p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/digital-disruption/Metaverse/investing-investieren/index?language_id=1" target="_self" title="Metaverse market – an investor perspective">
        <span class="hidden-title">Metaverse market – an investor perspective</span>
        See what investors think
      </a>
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-9 type-neutral-grey">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-generic id-7a9b6a65-80aa-48b3-832b-a33e350c1d0f" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-align-right option-over-headline has-image mobile-background-color-default" id="id-734ac45f-c591-476e-9c83-5137ead63c32">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/digital-disruption/Metaverse/virtual-reality-virtuelle-Realitaet/index?language_id=1" target="_self" title="How are you using the metaverse">
            <figure class="image-wrapper">
                <img src="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/f21cfdd1-6bed-4669-bf5e-95fdfe142e0a/fileAsset/filter/Resize,Jpeg/resize_w/1280/d5b33d81-d2e4-4c2d-b69e-c07d3085b868l.jpg" srcset="https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/f21cfdd1-6bed-4669-bf5e-95fdfe142e0a/fileAsset/filter/Resize,Jpeg/resize_w/640/d5b33d81-d2e4-4c2d-b69e-c07d3085b868s.jpg 640w,
                             https://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.comhttps://corporates.db.com/contentAsset/image/f21cfdd1-6bed-4669-bf5e-95fdfe142e0a/fileAsset/filter/Resize,Jpeg/resize_w/1280/d5b33d81-d2e4-4c2d-b69e-c07d3085b868l.jpg 1280w" alt="How are you using the metaverse" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="1080" height="1080">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
        <h3>Digital Disruption | Crisp &amp; Short</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/digital-disruption/Metaverse/virtual-reality-virtuelle-Realitaet/index?language_id=1" target="_self" title="Metaverse – is there anybody in there?" data-filetype="none">
          <span class="hidden-title">Metaverse – is there anybody in there?</span>
          Metaverse – is there anybody in there?
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Everyone is talking about the metaverse. But what exactly is happening there, and what are the opportunities and risks?</p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/digital-disruption/Metaverse/virtual-reality-virtuelle-Realitaet/index?language_id=1" target="_self" title="Metaverse – is there anybody in there?">
        <span class="hidden-title">Metaverse – is there anybody in there?</span>
        Enter here
      </a>
    
      </div>

        </div>
  
</div>
</section>
  <div class="mod-widget-background" data-module="RowBackground" data-bg-color="neutral-grey">
  </div>

</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-10">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-generic id-416826e3-2bee-485d-b6d2-e96f0edee01c" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-77075a91-d99b-4a18-b401-5ed76958f5e4">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                &nbsp;
              </h2>
    
    
    
    
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-8805e0b5-6d44-49ad-9749-4c1bdf2d9008">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                What Next: our topics
              </h2>
    
    
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-11">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-33">
                  <section class="cms-container cnt-generic id-fede7abe-b198-4631-a4a4-74e0231eae76" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-481462bf-1b0b-440a-9a51-5f0de562c349">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <a href="/what-next/responsible-growth/" title="Link to Responsible Growth" class="wt-enabled"><img title="Link to Responsible Growth" alt="Link to Responsible Growth" src="/what-next/files/images/navigation/bt_responsible_growth.svg"></a>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                                                                    <div class="cms-column-33">
                  <section class="cms-container cnt-generic id-89f7cafc-1446-4304-b02d-7d04a7df3a99" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-2ac413d7-180f-4961-96a3-15a336a7ea8f">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <a href="/what-next/entrepreneurial-success/" title="Link to Entrepreneurial Success" class="wt-enabled"><img alt="Link to Entrepreneurial Success" title="Link to Entrepreneurial Success" src="/what-next/files/images/navigation/bt_entrepreneurial_success.svg"></a>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                                                                    <div class="cms-column-33">
                  <section class="cms-container cnt-generic id-7387994b-686e-4ddc-b382-6c0dac856e0d" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-11548681-3abd-4a5b-81a8-3a7d5f97d5ad">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <a href="/what-next/digital-disruption/" title="Link to Digital Disruption" class="wt-enabled"><img alt="Link to Digital Disruption" title="Link to Digital Disruption" src="/what-next/files/images/navigation/bt_digital_disruption.svg"></a>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                  <!--stopindex-->
  </div>
{% endblock content %}