{% extends "./base.html" %}
{% load static %}

{% block content %}<div id="content" role="main" data-module="ContentAnimation">
    <!--startindex-->
                            <section class="cms-row row-index-1">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  

                                                                                                              
<section class="cms-container cnt-breadcrumb" data-wt-area="stage-breadcrumb">
  <nav class="navigation-breadcrumb">
      <span class="breadcrumb-label">
                          You are here:
                  </span>
      <ul>
          <li>
            <a title="Home" href="/" class="wt-enabled">
              Home
            </a>
        </li>
                                          
              <li>
                                        <a title="What Next" href="/what-next" class="wt-enabled">
                                                  What Next
                                            </a>
                                  </li>
                                          
              <li>
                                        <a title="Responsible Growth" href="/what-next/responsible-growth" class="wt-enabled">
                                                  Responsible Growth
                                            </a>
                                  </li>
                                          
              <li>
                                                                      Climate emergency: can green tech save us?
                                                          </li>
                              </ul>
  </nav>
</section>
<section class="cms-container cnt-hero-headline id-0ae67ba9-2b90-407f-bf0b-7a6ebfa992ca" data-wt-area="content">
<section class="mod-hero-headline" lang="en">
<h2>Dossier #11: Time is running out!</h2>  <h1>Climate emergency: can green tech save us?</h1>  </section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-2">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-generic id-8bdbc07e-a664-45fc-8976-062820f32b77" data-wt-area="content">



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-dedb95c7-f92c-428f-a41a-e85fdf88f1b5">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/intro/index?language_id=1" target="_self" title="What next climate crisis technology">
            <figure class="image-wrapper">
                <img src="/contentAsset/image/70486d4d-fd68-43e8-a1ca-5ad475e27aed/fileAsset/filter/Resize,Jpeg/resize_w/1280/ac3003f3-2dbc-4e6f-ab6c-9682375180cal.jpg" srcset="/contentAsset/image/70486d4d-fd68-43e8-a1ca-5ad475e27aed/fileAsset/filter/Resize,Jpeg/resize_w/640/ac3003f3-2dbc-4e6f-ab6c-9682375180cas.jpg 640w,
                             /contentAsset/image/70486d4d-fd68-43e8-a1ca-5ad475e27aed/fileAsset/filter/Resize,Jpeg/resize_w/1280/ac3003f3-2dbc-4e6f-ab6c-9682375180cal.jpg 1280w" alt="What next climate crisis technology" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="1280" height="640">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Green hydrogen, carbon capture and storage, nuclear fusion – will high tech be a game changer in the fight against climate change? Or must we stop craving ever-more growth and prosperity?</p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/intro/index?language_id=1" target="_self" title="Climate emergency: can green technology save us?">
        <span class="hidden-title">Climate emergency: can green technology save us?</span>
        Is green tech the answer?
      </a>
    
      </div>

        </div>
  
</div>
</section>

</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-3 type-neutral-grey">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-83 cms-offset-1">
                  <section class="cms-container cnt-generic id-07da7c23-bbc5-4cb8-9988-2c38693c0cd4" data-wt-area="content">
  <div class="mod-widget-background" data-module="RowBackground" data-bg-color="neutral-grey">
  </div>




<section class="mod-text-box box-design  type-default option-over-headline mobile-background-color-default" id="id-d51a28d0-8aa7-4fd6-b5da-4d279618e6be">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
        <h3>Resonsible Growth | Video Story</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/satellites--Satelliten/index?language_id=1" target="_self" title="Fighting climate change from outer space" data-filetype="none">
          <span class="hidden-title">Fighting climate change from outer space</span>
          Fighting climate change from outer space
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>With satellites and high-resolution cameras, the start-up OroraTech wants to provide thermal images of the entire surface of the earth – to detect forest fires at an early stage.</p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/satellites--Satelliten/index?language_id=1" target="_self" title="Fighting climate change from outer space">
        <span class="hidden-title">Fighting climate change from outer space</span>
        Watch this space!
      </a>
    
      </div>

        </div>
  
</div>
</section>



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-10785d3d-c971-4b84-810c-e35d3924c032">


<div class="wrapper type-video custom-text-width-100 custom-text-position-left">
  
  
              <div class="media">
     
               <a class="button type-video wt-enabled" data-module="ModalLayerLink" data-media-link-id="9mvZ-4mtAiLvkFe_hUzFfL" data-media-link-type="movingImage" title="Play">
                          <figure class="image-wrapper">
                  <img src="/contentAsset/image/025c683f-7fe9-49f4-aa05-b3564d08357b/fileAsset/filter/Resize,Jpeg/resize_w/1280/14ca44af-4bda-4e48-b91d-786dc2d880c5l.jpg" srcset="/contentAsset/image/025c683f-7fe9-49f4-aa05-b3564d08357b/fileAsset/filter/Resize,Jpeg/resize_w/640/14ca44af-4bda-4e48-b91d-786dc2d880c5s.jpg 640w,
                               /contentAsset/image/025c683f-7fe9-49f4-aa05-b3564d08357b/fileAsset/filter/Resize,Jpeg/resize_w/1280/14ca44af-4bda-4e48-b91d-786dc2d880c5l.jpg 1280w" alt="Ororatech lab thermal analysis" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="899" height="600">
              </figure>
                                  <button class="button type-icon icon--left icon--bg wt-enabled">
                <svg focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgsymbol-play"></use>
                </svg>
                 Play                   <span class="hidden-title">Video</span>
             </button>
                  </a>
      </div>
            
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                Video: Space Data for a more resilient future
              </h2>
    
    
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-4">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-50 cms-offset-1">
                  <section class="cms-container cnt-generic id-4fc00ae1-d9c9-4607-8c27-460239780c4e" data-wt-area="content">



<section class="mod-text-box box-design  type-default has-image mobile-background-color-default" id="id-9ac134bb-1ee8-44cc-a358-f3f40e83393a">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/martin-stuchtey--climate-crisis--Klimakrise/index?language_id=1" target="_self" title="Martin Stuchtey">
            <figure class="image-wrapper">
                <img src="/contentAsset/image/fb02f411-4fce-49d0-81a4-e2f7047cf19d/fileAsset/filter/Resize,Jpeg/resize_w/1280/d0d8694c-b99d-40b0-ae65-ed350241199al.jpg" srcset="/contentAsset/image/fb02f411-4fce-49d0-81a4-e2f7047cf19d/fileAsset/filter/Resize,Jpeg/resize_w/640/d0d8694c-b99d-40b0-ae65-ed350241199as.jpg 640w,
                             /contentAsset/image/fb02f411-4fce-49d0-81a4-e2f7047cf19d/fileAsset/filter/Resize,Jpeg/resize_w/1280/d0d8694c-b99d-40b0-ae65-ed350241199al.jpg 1280w" alt="Martin Stuchtey" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="820" height="820">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                                                                    <div class="cms-column-33">
                  <section class="cms-container cnt-generic id-9cbe86d3-04f8-4149-b01b-4baa5b26c5cd" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-align-left option-over-headline mobile-background-color-default" id="id-963c42e5-9152-44ff-a0be-3aaf5c137f13">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
        <h3>Responsible Growth | Opinion</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/martin-stuchtey--climate-crisis--Klimakrise/index?language_id=1" target="_self" title="It's too late to be a pessimist" data-filetype="none">
          <span class="hidden-title">It's too late to be a pessimist</span>
          “It's too late to be a pessimist”
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>When it comes to responding to the climate crisis, technology is our best friend, says Martin Stuchtey. Systemic change will, however, be inevitable.</p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/martin-stuchtey--climate-crisis--Klimakrise/index?language_id=1" target="_self" title="It's too late to be a pessimist">
        <span class="hidden-title">It's too late to be a pessimist</span>
        How we can push transformation
      </a>
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-5">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-41 cms-offset-1">
                  <section class="cms-container cnt-generic id-daeeadda-963b-4e1d-959a-29d3bc96148f" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-ba314bf2-8853-4e4b-8cfb-111b88005e74">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/hydrogen-train--Wasserstoffzug/index?language_id=1" target="_self" title="Coradia iLint hydrogen train copyrights Alstom Sabrina Adeline Nagel">
            <figure class="image-wrapper">
                <img src="/contentAsset/image/a62537c7-5949-40cb-9712-94dc60c02bdb/fileAsset/filter/Resize,Jpeg/resize_w/1280/08ad0ad4-e153-414d-b8f8-e3ad42ba8e34l.jpg" srcset="/contentAsset/image/a62537c7-5949-40cb-9712-94dc60c02bdb/fileAsset/filter/Resize,Jpeg/resize_w/640/08ad0ad4-e153-414d-b8f8-e3ad42ba8e34s.jpg 640w,
                             /contentAsset/image/a62537c7-5949-40cb-9712-94dc60c02bdb/fileAsset/filter/Resize,Jpeg/resize_w/1280/08ad0ad4-e153-414d-b8f8-e3ad42ba8e34l.jpg 1280w" alt="Coradia iLint hydrogen train copyrights Alstom Sabrina Adeline Nagel" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="820" height="820">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
        <h3>Responsible Growth | Story</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/hydrogen-train--Wasserstoffzug/index?language_id=1" target="_self" title="Ready for a railvolution" data-filetype="none">
          <span class="hidden-title">Ready for a railvolution</span>
          Ready for a railvolution
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Rail traffic is a major contributor to greenhouse gas emissions. To fight that, train manufacturer Alstom is pioneering the use of hydrogen technology.</p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/hydrogen-train--Wasserstoffzug/index?language_id=1" target="_self" title="Ready for a railvolution">
        <span class="hidden-title">Ready for a railvolution</span>
        Zero carbon railways
      </a>
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                                                                    <div class="cms-column-41">
                  <section class="cms-container cnt-generic id-fbce9a36-179a-45e4-bf6e-d0133dbcadeb" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-7c88b75d-158a-4da2-b7c5-dfe543276867">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/greentech-trends/index?language_id=1" target="_self" title="Fabric bag">
            <figure class="image-wrapper">
                <img src="/contentAsset/image/5cc3df7e-1c81-489e-bf1a-1b136ed5d1ec/fileAsset/filter/Resize,Jpeg/resize_w/1280/04d39cd5-5b9e-4ac1-befe-29ecc0a5a6a7l.jpg" srcset="/contentAsset/image/5cc3df7e-1c81-489e-bf1a-1b136ed5d1ec/fileAsset/filter/Resize,Jpeg/resize_w/640/04d39cd5-5b9e-4ac1-befe-29ecc0a5a6a7s.jpg 640w,
                             /contentAsset/image/5cc3df7e-1c81-489e-bf1a-1b136ed5d1ec/fileAsset/filter/Resize,Jpeg/resize_w/1280/04d39cd5-5b9e-4ac1-befe-29ecc0a5a6a7l.jpg 1280w" alt="Fabric bag" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="600" height="600">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
        <h3>Responsible Growth | Short &amp; Crisp</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/greentech-trends/index?language_id=1" target="_self" title="From wall paint to nuclear fusion – a future dream of green?" data-filetype="none">
          <span class="hidden-title">From wall paint to nuclear fusion – a future dream of green?</span>
          From wall paint to nuclear fusion – a future dream of green?
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Green technologies are very popular for companies and consumers. But which solutions really improve the carbon footprint?</p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/greentech-trends/index?language_id=1" target="_self" title="From wall paint to nuclear fusion – a future dream of green?">
        <span class="hidden-title">From wall paint to nuclear fusion – a future dream of green?</span>
        Overview
      </a>
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-6 type-neutral-grey">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-generic id-5b873063-1e3b-487b-9b88-81f3cf6b46e3" data-wt-area="content">
  <div class="mod-widget-background" data-module="RowBackground" data-bg-color="neutral-grey">
  </div>




<section class="mod-text-box box-design  type-default option-over-headline has-image mobile-background-color-default" id="id-ec181114-cf34-48ef-9943-0a40f1e8b2ff">


<div class="wrapper type-video custom-text-width-100 custom-text-position-left">
  
  
              <div class="media">
     
               <a class="button type-video wt-enabled" data-module="ModalLayerLink" data-media-link-id="4xQ1brYazBiYoMtTiJE4kJ" data-media-link-type="movingImage" title="Play">
                          <figure class="image-wrapper">
                  <img src="/contentAsset/image/c8cb2974-174f-42cc-8584-55efbd773653/fileAsset/filter/Resize,Jpeg/resize_w/1280/4acec851-f590-434d-8100-8908e49de579l.jpg" srcset="/contentAsset/image/c8cb2974-174f-42cc-8584-55efbd773653/fileAsset/filter/Resize,Jpeg/resize_w/640/4acec851-f590-434d-8100-8908e49de579s.jpg 640w,
                               /contentAsset/image/c8cb2974-174f-42cc-8584-55efbd773653/fileAsset/filter/Resize,Jpeg/resize_w/1280/4acec851-f590-434d-8100-8908e49de579l.jpg 1280w" alt="Eric Heymann – Green hydrogen: hype or hope?" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="1920" height="1080">
              </figure>
                                  <button class="button type-icon icon--left icon--bg wt-enabled">
                <svg focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svgsymbol-play"></use>
                </svg>
                 Play                   <span class="hidden-title">Video</span>
             </button>
                  </a>
      </div>
            
        <div class="content-wrapper">
  
        <h3>Responsible Growth | Insights</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/hydrogen--Wasserstoff/index?language_id=1" target="_self" title="Green hydrogen – hype or hope?" data-filetype="none">
          <span class="hidden-title">Green hydrogen – hype or hope?</span>
          Green hydrogen – hype or hope?
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>Is green hydrogen a cure-all for the energy crisis? Not in the short term, says Eric Heymann. The medium to long term outlook is brighter, though.</p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/hydrogen--Wasserstoff/index?language_id=1" target="_self" title="Green hydrogen – hype or hope?">
        <span class="hidden-title">Green hydrogen – hype or hope?</span>
        To the interview
      </a>
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-7">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-generic id-40fb0683-9a02-498a-824b-ed5d450d2e0b" data-wt-area="content">



<section class="mod-text-box box-design  type-default option-align-left option-over-headline has-image mobile-background-color-default" id="id-c868ecaf-c615-4193-bcaf-500e216dde7f">


<div class="wrapper type-image custom-text-width-100 custom-text-position-left">
              <div class="media">
                         <a class="img wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/trends/index?language_id=1" target="_self" title="Tree with QR Code">
            <figure class="image-wrapper">
                <img src="/contentAsset/image/9729a5fa-993f-43f5-8e0e-61add750c529/fileAsset/filter/Resize,Jpeg/resize_w/1280/844889e1-e366-45c8-a7fc-cb0171d8a177l.jpg" srcset="/contentAsset/image/9729a5fa-993f-43f5-8e0e-61add750c529/fileAsset/filter/Resize,Jpeg/resize_w/640/844889e1-e366-45c8-a7fc-cb0171d8a177s.jpg 640w,
                             /contentAsset/image/9729a5fa-993f-43f5-8e0e-61add750c529/fileAsset/filter/Resize,Jpeg/resize_w/1280/844889e1-e366-45c8-a7fc-cb0171d8a177l.jpg 1280w" alt="Tree with QR Code" loading="lazy" draggable="false" sizes="(max-width: 48rem) 100vw, 50vw" width="820" height="820">
            </figure>
        </a>
            </div>
        
  
  
        <div class="content-wrapper">
  
        <h3>Responsible Growth | Short &amp; Crisp</h3>
  
  <div class="content">
            <h2>
                <a class="wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/trends/index?language_id=1" target="_self" title="Can algorithms save the climate?" data-filetype="none">
          <span class="hidden-title">Can algorithms save the climate?</span>
          Can algorithms save the climate?
        </a>
              </h2>
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <p>What do you think of when talking about green tech? Here are three tech trends that could change our future.</p>
      </div>
    
            <a class="button type-primary wt-enabled" href="/what-next/responsible-growth/climate-technologies--Klimatechnologien/trends/index?language_id=1" target="_self" title="Can algorithms save the climate?">
        <span class="hidden-title">Can algorithms save the climate?</span>
        Three digital solutions for our climate
      </a>
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-8">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-50">
                  
                </div>
                                                                    <div class="cms-column-50">
                  
                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-9">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-100">
                  <section class="cms-container cnt-generic id-416826e3-2bee-485d-b6d2-e96f0edee01c" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-8805e0b5-6d44-49ad-9749-4c1bdf2d9008">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
            <h2>
                What Next: our topics
              </h2>
    
    
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                <section class="cms-row row-index-10">
          <div class="cms-content-wrapper">
            <div class="cms-content">
                                                                    <div class="cms-column-33">
                  <section class="cms-container cnt-generic id-fede7abe-b198-4631-a4a4-74e0231eae76" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-481462bf-1b0b-440a-9a51-5f0de562c349">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <a href="/what-next/responsible-growth/" title="Link to Responsible Growth" class="wt-enabled"><img title="Link to Responsible Growth" alt="Link to Responsible Growth" src="/what-next/files/images/navigation/bt_responsible_growth.svg"></a>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                                                                    <div class="cms-column-33">
                  <section class="cms-container cnt-generic id-89f7cafc-1446-4304-b02d-7d04a7df3a99" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-11548681-3abd-4a5b-81a8-3a7d5f97d5ad">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <a href="/what-next/digital-disruption/" title="Link to Digital Disruption" class="wt-enabled"><img alt="Link to Digital Disruption" title="Link to Digital Disruption" src="/what-next/files/images/navigation/bt_digital_disruption.svg"></a>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                                                                    <div class="cms-column-33">
                  <section class="cms-container cnt-generic id-7387994b-686e-4ddc-b382-6c0dac856e0d" data-wt-area="content">



<section class="mod-text-box box-design  type-default mobile-background-color-default" id="id-2ac413d7-180f-4961-96a3-15a336a7ea8f">


<div class="wrapper custom-text-width-100 custom-text-position-left">
  
  
  
        <div class="content-wrapper">
  
  
  <div class="content">
    
    
            <div class="text rich-text" data-module="RichTextContent" data-aria-live-text="The next table column has been scrolled into view. Screen reader users can use standard table navigation techniques to navigate the entire table.">
        <div aria-live="assertive"></div>
        <a href="/what-next/entrepreneurial-success/" title="Link to Entrepreneurial Success" class="wt-enabled"><img alt="Link to Entrepreneurial Success" title="Link to Entrepreneurial Success" src="/what-next/files/images/navigation/bt_entrepreneurial_success.svg"></a>
      </div>
    
    
      </div>

        </div>
  
</div>
</section>
</section>

                </div>
                            </div>
          </div>
        </section>
                  <!--stopindex-->
  </div>

{% endblock content %}